
ul li{
  list-style: none;
  padding:0px;
  margin:0px;
}
a{
  text-decoration: none;
  color: #ff7c35;
}
.container{
  width:100% !important;
}
.header{
  height:40px;
}
/*.header .home{
  display: inline-block;
  float: left;
  margin-left: 30px;
  margin-right: 18px;
  margin-top: 8px;
}*/
.header h3{
  font-size: 16px;
  margin:0;
  color: #666666;
  line-height: 40px;
  margin-left: 18px;
  font-weight: bold;
  float: left;
}
.header .xian{
  display: inline-block;
  border-left: 1px solid #fff;
  float: left;
  height: 60%;
  margin-top: 13px;
}
.appModel-wrapper {
  outline: none;
}
.createBtn{
  margin-top: 5px;
  float: right;
}
.appManage,.header{
  background: #ffffff;
  margin:80px 30px 0 30px;
  overflow: hidden;
}
.addicon {
  display: inline;
  float: left;
  margin-top: 9px;
  margin-left: 15px;
  margin-right: -6px;
}
.back{
  text-decoration:none;
  width: 114px;
  float: right;
  height: 30px;
  margin-top: 5px;
  margin-right: 1.56vw;
  border-radius: 5px;
  color: #ff7c35;
  text-align: center;
  border:1px solid #ff7c35;
  line-height: 30px;
  font-size: 14px;
  font-style: normal;
}
.appManage h3{
  font-size: 16px;
  color: #333333;
  margin:20px 0 34px 30px;
  font-weight: bold;
}
.appBody{
  clear: both;
  margin:0 auto;
  overflow: hidden;
  padding-bottom: 60px;
}
.app{
  max-width: 1564px;
  margin: 0 auto;
  overflow: hidden;
}
.appModel{
  border:1px solid #ccc;
  -webkit-box-shadow:0 0 10px #ccc;
  -moz-box-shadow:0 0 10px #ccc;
  box-shadow:0 0 10px #ccc;
  width:454px;
  float: left;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 30px;
  margin-right: 32px;
  margin-left: 32px;
}
.appModel_header{
  overflow: hidden;
  margin: 0 1.56vw;
  border-bottom: 1px solid #eeeeee;
}
.appModel_header img{
  display: inline-block;
  width:58px;
  height:58px;
  margin:26px 0 26px 0;
  float: left;
}
.appModel_header span{
  display: inline-block;
  float: left;
  height:58px;
  line-height: 58px;
  margin-top: 1.56vw;
  margin-left: 66px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
}
.appModel_content{
  margin-left: 1.56vw;
  margin-right: 1.56vw;
  margin-top: 4.26vh;
  display: block;
}
.appModel_content tbody{
  display: block;
}
.appModel_content tr{
  display: block;
  margin-bottom: 3.25vh;
}
.appModel_content tr td{
  display: inline-block;

  word-break: break-all;
}
.appModel_content tr td:nth-of-type(1){
  width:29%;
  color: #333333;
}
.appModel_content tr td:nth-of-type(2){
  color: #555555;
  width:68%;
}
.sceneInput{
  text-indent: 6px;
  background: url("../../../assets/appmanage/add.png") no-repeat right 6px center;
}

.option{
  margin-top: 2.7vh;
  margin-right: 10px;
  margin-bottom: 2.22vh;
  float: right;
  overflow: hidden;
}
.option li{
  float: left;
}
.option li a{
  padding:0 0.9vw;
}
.open{
  font-size: 12px;
  color: #ff7c35;
  font-weight: bold;
}
.close{
  font-size: 12px;
  color: #999999;
  font-weight: bold;
}
/*.option li:after{
  content: '|';
  font-size: 12px;
  color: #ff7c35;
  font-weight: bold;
}
.option li:after{
  content: '|';
  font-size: 12px;
  color: #999999;
  font-weight: bold;
}*/
.option li:nth-of-type(3):after{
  content: '';
}
.option li:nth-of-type(3) a{
  border-right:none;
}
.createLeft{
  clear: both;
  float: left;
  margin-left: 102px;
}
.createInfo{
  margin-bottom: 26px;
  height:36px;
}
.createInfo:nth-of-type(6){
  height:146px;
}
.createInfo label{
  font-size: 14px;
  color: #333333;
  display: inline-block;
  margin-right: 22px;
}
.image{
  background: url('../../../assets/appmanage/upload.png');
  width:68px;
  height:68px;
}
.image input{
  display: none;
}
#image{
  width:68px;
  height:68px;
}
.symbol{
  font-size: 12px;
  color: #fe1c1c;
}
.checkSystem{
  display: inline-block;
  width:360px;
  margin-left: 5px;
  padding: 0;
}
.checkSystem li{
  display: inline-block;
}
.checkSystem li:nth-of-type(3) a,.checkSystem li:nth-of-type(6) a{
  margin-right: 0;
}
.checkSystem a{
  display: inline-block;
  margin-right: 21px;
  margin-bottom: 15px;
  font-size: 14px;

}
.checkSystem a span,.checkSystem a img{
  display: inline-block;
  vertical-align: middle;
}
.checkSystem a img{
  margin-top: 2px;
}
.createLeft input,.createLeft textarea,.createLeft select{
  border:1px solid #d3d3d3;
  border-radius: 5px;

}
.createLeft input{
  width:490px;
  height:30px;
  text-indent: 4px;
}
.createLeft textarea{
  width:356px;
  height:146px;
  resize : none;
  margin-left: 4px;
}
.createLeft select{
  width:494px;
  height:34px;
  color: #666666;
  margin-left: 4px;
  position: absolute;
  background: url("../../../assets/appmanage/rightArrow.png") no-repeat right center;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  outline: none;
  border-right: none;
  text-indent: 6px;
}

.channel{
  display: inline-block;
  font-size: 14px;
  color: #666666;
}
.channelContent{
  margin-bottom: 26px;
}
.channelContent input{
  width: 230px;
  margin-left: 14px;
  border-radius: 0;
}
.channelContent span:nth-of-type(2),.channelContent span:nth-of-type(3){
  margin-left: 36px;
}
.channelContent select{
  border-radius: 0;
  width:140px;
  text-indent: 6px;
  margin-left: 14px;
  border-right: 1px solid #d3d3d3;
  background: url("../../../assets/appmanage/rightArrow1.png") no-repeat right 6px center;

}
.channelConfig{
  float: left;
  margin-top: 7px;
}
.tip{
  position: relative;
  float: left;
  width:356px;
}
.tip p{
  position: absolute;
  bottom:0;
  font-size: 14px;
  color: #747474;
  right:0;
}

.btn{
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 294px;
}
.crtBtn{
  width:114px;
  height:30px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background:#ff7e35 ;
  font-size: 14px;
  text-align: center;
  line-height:30px;
}

.backBtn{
  width:112px;
  height:28px;
  border-radius: 5px;
  display: inline-block;
  color: #747474;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  border:1px solid #d3d3d3;
  margin-left: 16px;
}
.appManageSpace{
  position: fixed;
  top: 170px;
  bottom:0;
  left:1.56vw;
  right:1.56vw;
  background: #ffffff;
}
.createRight{
  width:460px;
  float: left;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  color: #333333;
  margin-left: 4.5vw;
}
.createRight h4{
  font-size: 14px;
  padding:10px 30px;
  background: #e8e8e8;
  margin: 0;
  font-weight: normal;

}
.sceneContent{
  clear: left;
  margin-left: 2.8vw;
  font-size: 14px;
}
.selected{
  text-align: center;
  width:104px !important;
  height:24px !important;
  border:1px solid #23a880 !important;
  background: #ffffff !important;
}
.unselected{
  text-align: center;
  width:104px;
  height:24px;
  background: #e8e8e8;
  color: #333333;
  border:1px solid #e8e8e8;
}
.selected img{
  display: inline-block;
  vertical-align: middle;
}
.selected span{
  display: inline-block;
  vertical-align: middle;
  color: #333333;
  padding-left: 4px;
}
.delete,.add{
  margin-left: 164px;
  vertical-align: middle;
}
.scene span{
  display: inline-block;
  margin:26px 70px 10px 0;
}
.scene span:nth-of-type(3),.scene span:nth-of-type(6){
  margin-right: 0px;
}
.scene span img{
  display: inline-block;
  vertical-align: middle;
 }

.scene span a{
  display: inline-block;
  vertical-align: middle;
  color: #333;
  margin-bottom: 1px;
}
.sceneBtn{
  margin:40px 0 30px 60px;
}
.bt{
  color: #333;
  background: #e8e8e8;
}
.bt1{
  margin-left: 50px;
}
.image{
  display: inline-block;
  width:68px;
  height:68px;
  margin-left: 4px;
}
#file{
  display: none;
}
.dialog{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.7);
  opacity: 1;
}
.dialogContainer{
  position: absolute;
  width: 800px;
  height:auto;
  top: 80px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  color: #FFF;
  border-radius: 8px;
}
.delDialogContainer{
  top:50%;
  width:506px;
  left:50%;
  margin-left: -253px;
  margin-top: -195px;
}
.dialogHeader,.dialogContent{
  position: relative;
  color: #000;
  left:100px;
}
.dialogHeader span{
  display: block;
  height:40px;
  font-size: 18px;
  padding-top: 20px;
}
.dialogContent .form div{
  margin-bottom: 30px;
}
.dialogContent .form div label{
  width:80px;
  text-align: right;
  display: inline-block;
  font-size: 14px;
}
.dialogContent .form div input{
  height:28px;
  width:260px;
  border-radius: 5px;
  outline: none;
  border:1px solid #dedede;
  text-indent: 6px;
}
.dialogContent p{
  margin-bottom: 40px;
}
.marg{
  margin-left: 0;
  margin-right: 14px;
}
.judge{
  display: inline-block;
  color: #f00a10;
  padding-left: 12px;
}
.btn1{
  display: inline-block;
  color: #333;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  width: 114px;
  height:30px;
  background: #eeeeee;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  margin-left: 8px;
}
.must{
  font-size: 14px;
  color: #fe1c1c;
}
.del{
  text-align: center;
  padding:50px 0 42px;
}
.middle{
  display: inline-block;
  vertical-align: middle;
}
.dialogDelHeader{
  background: #eeeeee;
  border-top-left-radius :5px;
  border-top-right-radius:5px;
}
.dialogDelHeader span{
  color: #333333;
  display: block;
  height:40px;
  line-height: 40px;
  padding-left: 34px;
  margin-bottom: 42px;
}
.dialogDelContent{
  text-align: center;
  color:#333333;
}
.spaceContent{
  position: absolute;
  top:50%;
  left:50%;
  margin-left: -235px;
  margin-top: -175px;
}
.spaceContent img{
  display: inline-block;
  vertical-align: middle;
}
.spaceText{
  font-size: 30px;
  color: #999999;
  display: inline-block;
  margin-left: 30px;
  line-height: 142px;
}
.unchange{
  color: #999999;
}
select:focus{
  border:1px solid #23a880 !important;
}
select{
  outline: none;
}
input{
  outline: none;
}
input:focus{
  border:1px solid #23a880 !important;
}
@media (min-width:1200px) and (max-width:1366px) {
  .app{
    width:1040px;
  }
  .appModel_content tr td:nth-of-type(1){
    width:28%;
  }
  .appModel_content tr td:nth-of-type(2){
    width:69%;
  }
}
@media (min-width:1367px) and (max-width:1440px) {
  .app{
    width:1040px;
  }
  .appModel_content tr td:nth-of-type(1){
    width:28%;
  }
  .appModel_content tr td:nth-of-type(2){
    width:69%;
  }
}
@media (min-width:1440px) and (max-width:1650px){
  .app{
    width:1040px;
  }
}
@media (min-width:1440px) and (max-width:1680px) {
  .appModel_content tr td:nth-of-type(1){
    width:29%;
  }
  .appModel_content tr td:nth-of-type(2){
    width:68%;
  }
}

/* add css */
/*
.header.top .home{
  margin-top: 13px;
}
.header.top h3{
  line-height: 50px;
  color: #fff;
}*/

.header.top {
  width: 100%;
  height: 50px;
  background: #333;
  position: fixed;
  top: 70px;
  left: 0px;
  margin: 0;
  z-index: 999;
}

.header.top .home {
  position: absolute;
  width: 25px;
  top: 14px;
  left: 30px;
  cursor: pointer;
}
.header.top .info {
  position: absolute;
  left: 60px;
  top: 0;
}
.header.top label {
  display: inline-block;
  color: white;
  height: 100%;
  font-size: 17px;
  line-height: 50px;
}
.header.top .divider {
  margin: 0 8px;
}
.header.top .title {
  font-size: 15px;
}
/* add end */
