*{
  color: #333333;
}
.warn-wrapper{
  margin:20px 30px 0 30px;
}
.tabs{
  background: #ffffff;
  height:50px;
  overflow: hidden;
}
.tab_item{
  float: left;
}
.tab_item{
  border: 0px;
  float: left;
  margin-right: 20px;
  margin-left: 8px;
  text-align: center;
  width:104px;
  font-family: "MicrosoftYaHei";
  color: #333333;
  height:48px;
  line-height: 49px;
  cursor: pointer;
  outline: none;
}
.focus{
  color: #ff7c35;
  border-bottom: 2px solid #ff7c35;
}
