.appManage{
  background: #ffffff;
  margin:1.56vw 1.56vw 0 1.56vw;
  overflow: hidden;
}
.appManage h3{
  font-size: 16px;
  font-weight: normal;
  margin: 1.85vh 0 3.7vh 1.56vw;
  float: left;
}
select{
  position: absolute;
  background: url("../../../assets/appmanage/rightArrow.png") no-repeat right 6px center;

  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  outline: none;
}



