.task{
  margin:20px 30px 0 30px;
}
.task_title,.task_body{
  background: #ffffff;
  width:100%;
  overflow: hidden;
}
a{
  text-decoration: none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.title_name{
  margin-left: 20px;
}
label{
  font-size: 14px;
  color: #333333;
}
.task_title{
  margin-bottom: 20px;
}
.title_name input,.title_warnStatus select{
  width:280px;
  height:36px;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  box-sizing: border-box;
  margin:20px 0;
}
.title_warnStatus{
  margin-left: 34px;
}
.title_warnStatus select{

}
.searchBtn {
  margin-right: 20px;
  margin-top: 23px;
}
.btn{
  width:80px;
  height:30px;
  line-height: 30px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}
.searchBtn a{
  background: #ff7c35;
  color: #ffffff;
}
.task_body{

}
.body_btn{
  overflow: hidden;
}
.add,.delete{
  color: #333333;
  background: #eeeeee;
  margin:20px 20px 20px 0;
}
.task_content{
  clear: both;
  margin:0 20px;
}
.taskTable{
  width:100%;
}
.taskTable th{
  color: #333333;
  font-weight: normal;
}
.taskTable,.taskTable tr{
  border-collapse: collapse;
  border:1px solid #d3d3d3;
}
.taskTable tr{
  height:36px;
  text-align: left;
  font-size: 14px;
  color: #666666;
}
.taskTable tr:nth-child(even){
  background: #eeeeee;
}
.taskTable td{
  text-overflow:ellipsis;
  /*overflow: hidden;*/
  white-space:nowrap;
}
.middle{
  display: inline-block;
  vertical-align: middle;
}
.pad{
  padding-left: 20px;
}
.checked{
  width:6%;
}
.name{
  width:12%;
}
.rule{
  width:18%;
}
.file{
  width:12%;
}
.run{
  width:14%;
}
.progress{
  width:16%;
}
.operation{
  width:26%;
}
.operationBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  /*margin: 0 auto;*/
}
.rerun{
  background: url('../../../assets/offline/chxyx.png') no-repeat center;
}
.stop {
  background: url('../../../assets/appdetail/way.manage/qidong.png') no-repeat center;
}
.start {
  background: url('../../../assets/appdetail/way.manage/stop.png') no-repeat center;
}
.look {
  background: url('../../../assets/offline/chakan.png') no-repeat center;
}
.edit{
  background: url('../../../assets/appdetail/way.manage/edit.png') no-repeat center;
}
.unedit{
  background: url('../../../assets/appdetail/way.manage/unedit.png') no-repeat center;
}
.lookResult{
  background: url('../../../assets/appdetail/way.manage/jieguo.png') no-repeat center;
}
.noLookResult{
  background: url('../../../assets/taskStatus/no_see_result.png') no-repeat center;
}
select{
  background: url("../../../assets/appdetail/way.manage/selectDown.png") no-repeat right 6px center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 8px;
}
select option{
  padding-left: 8px;
}
input{
  padding-left: 8px;
}
.checked{
  width:10%;
}
.name{
  width:15%;
}
.rule{
  width:15%;
}
.file{
  width:15%;
}
.run{
  width:15%;
}
.progress{
  width:15%;
}
.operation{
  width:15%;
}
.percentBox{
  position: absolute;
  top:30px;
  left:-100px;
  width:250px;
  color: #666666;
  background: #ffffff;
  z-index: 8888888;
}
.border{
  border: 1px solid #d3d3d3;
}
.percent{
  margin-left: 25px;
  table-layout:fixed;
}
.percent p{
  width:200px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}
.mouse{
  position: relative;
  cursor: pointer;
  height:36px;
  display: inline-block;
  line-height: 36px;
}
.progressouter{
  width:200px;
  height:10px;
  background: #979797;
  border:1px solid #b5b5b5;
  border-radius: 10px;
  box-shadow:0px 5px 5px #818181 inset;
  clear: both;
  text-align: center;
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.progressouter span{
  position: absolute;
  z-index: 999;
  color: #ffffff;
  display: inline-block;
  height:15px;
  line-height: 15px;
}
.progressinner{
  /*background: #ed8942;*/
  background: linear-gradient(rgb(236,148,81),rgb(235,123,53));
  border-radius: 10px;
  height:10px;
  /*box-shadow:0px 2px 2px #ccc inset;*/
  margin:0 1px;
  box-sizing: border-box;
}
.videoPlayer{
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6666;
}
.videoClose{
  position: absolute;
  top: 10px;
  right: 20px;
  cursor:pointer;
  display: inline-block;
  z-index: 6667;
}
.videoPlayer video{
  width:100%;
  height:100%;
}
.videoStart{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0 ,0 ),rgba(41,41,41,0.8));
  height: 50px;
  z-index: 6667;
}
.videoStart img{
  display: block;
  margin: 0 auto;
  cursor:pointer;
}
.progressBar {
  position: relative;
  width: 100%;
  height:10px;
  backgroud-color: #eee;
}
.timeBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #23a880;
}
