<div class="container">
  <div class="account-manage" id="account-manage">
    <div class="title">用户管理</div>
    <div class="account-search">
      <div>
        <label>用户名：</label>
        <input type="text" name="userName" [(ngModel)]="userName"/>
      </div>
      <div>
        <label>手机号码：</label>
        <input type="text" name="userMobile" [(ngModel)]="userMobile"/>
      </div>
      <div>
        <a href="javascript:void(0)" class="btn bgco" (click)="search()">查询</a>
      </div>
    </div>
    <div class="account-operation">
      <a href="javascript:void(0)" class="btn bgcg" (click)="create()">新建</a>
      <a href="javascript:void(0)" class="btn bgcg delete" (click)="delete()">删除</a>
    </div>
    <create-user [(createIndex)]="createIndex" *ngIf="createIndex" (createIndexChange)="createIndexChange($event)" [userInfo]="userInfo" [userTitle]="userTitle"></create-user>
    <table class="channelTable" cellspacing="0">
      <tr>
        <th class="checked">
          <img [src]="all_select?'assets/appdetail/way.manage/checked.png':'assets/appdetail/way.manage/unchecked.png'"  class="middle" (click)="allSelect()"/>
        </th>
        <th class="pad">用户名</th>
        <th class="pad">真实姓名</th>
        <th class="pad">手机号码</th>
        <th class="padTime">邮箱</th>
        <th class="pad">所属群组</th>
        <th class="padTime">创建时间</th>
        <th class="pad">操作</th>
      </tr>
      <tr *ngFor="let item of userManageList let i=index;">
        <td class="checked">
          <img [src]="item.selected?'assets/appdetail/way.manage/checked.png':'assets/appdetail/way.manage/unchecked.png'" class="middle" (click)="check(i)"/>
        </td>
        <td class="pad">{{item.login}}</td>
        <td class="pad">{{item.actualName}}</td>
        <td class="pad">{{item.cellphoneNumber}}</td>
        <td class="padTime">{{item.email}}</td>
        <td class="pad"><span *ngFor="let re of item.groups;let i=index"><a>{{item.groups.length==0?'无':re.groupName}}</a><a *ngIf="i!=item.groups.length-1">,</a></span></td>
        <td class="padTime">{{outTime(item.createdDate)}}</td>
        <td class="operation pad">
          <a class="operationBtn edit"  (click)="edit(item)"></a>
        </td>
      </tr>
    </table>
    <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
  </div>
</div>
<delete-tip *ngIf="deleteShow" [tip_title]="tip_title" [tip_content]="tip_content" [loginId]="loginId" (deleteChange)="deleteChange($event)"></delete-tip>
