<div class="container">
  <div class="warn-wrapper" [style.display]="lookIndex==0?'':'none'">
    <div class="tabs">
      <div class="tab_item focus" routerLinkActive="active" routerLink="/warnmanage">{{appCate=='实时流分析'?'告警实况':'告警列表'}}</div>
      <div class="tab_item" routerLinkActive="active" routerLink="/warnrlue">告警规则</div>
    </div>
    <div class="search-content">
      <div class="search-select">
        <div class="search-info" *ngIf="appCate=='实时流分析'">
          <label>通道名称：</label>
          <select [(ngModel)]="chanName" (ngModelChange)="chanName=$event;">
            <option *ngFor="let item of chanNameArr" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div class="search-info" *ngIf="appCate=='离线文件分析'">
          <label>告警任务：</label>
          <select [(ngModel)]="warnTask" (ngModelChange)="warnTask=$event;">
            <option *ngFor="let item of warnTaskArr" value="{{item.taskName}}">{{item.taskName}}</option>
          </select>
        </div>
        <div class="search-info">
          <label>告警规则：</label>
          <select [(ngModel)]="warnRlue" (ngModelChange)="warnRlue=$event;">
            <option *ngFor="let item of warnRlueArr" value="{{item.ruleName}}">{{item.ruleName}}</option>
          </select>
        </div>
        <div class="search-info">
          <label>告警状态：</label>
          <select [(ngModel)]="warnStatus" (ngModelChange)="warnStatus=$event;">
            <option *ngFor="let item of statusArr" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="search-time">
        <div class="search-info no-margin">
          <label>告警时间：</label>
          <select [(ngModel)]="startTime" (ngModelChange)="startTime=$event;">
            <!--<option *ngFor="let item of statusArr" value="{{item}}">{{item}}</option>-->
          </select>
          <span>至</span>
          <select [(ngModel)]="endTime" (ngModelChange)="endTime=$event;" class="time-select">
            <!--<option *ngFor="let item of statusArr" value="{{item}}">{{item}}</option>-->
          </select>
        </div>
        <a href="#" onclick="return false" class="btn bgco" (click)="searchWarn()">查询</a>
      </div>
    </div>
    <div class="warn-content">
      <a href="#" onclick="return false" class="btn bgcg">导出</a>
      <div class="table-margin">
        <table class="channelTable" cellspacing="0">
          <tr>
            <th class="checked">
              <img src="../assets/appdetail/way.manage/unchecked.png" *ngIf="allFlag==false" class="middle" (click)="allSel()"/>
              <img src="../assets/appdetail/way.manage/checked.png" *ngIf="allFlag==true" class="middle" (click)="allSel()"/>
            </th>
            <th class="order">{{appCate=='实时流分析'?'通道名称':'告警任务'}}</th>
            <th class="name">告警规则</th>
            <th class="name" *ngIf="appCate=='离线文件分析'">告警文件</th>
            <th class="channelAddr">告警时间</th>
            <th class="protocol">时长</th>
            <th class="protocol">快照</th>
            <th class="protocol">状态</th>
            <th class="operation pad">操作</th>
          </tr>
          <tr *ngFor="let item of allWarn let i=index;">
            <td>
              <img src="../assets/appdetail/way.manage/unchecked.png" class="middle" (click)="check(item)" *ngIf="item.flag!=1"/>
              <img src="../assets/appdetail/way.manage/checked.png" class="middle" (click)="check(item)" *ngIf="item.flag==1"/>
            </td>
            <td class="pad">{{item.channelName}}</td>
            <td class="pad">{{item.ruleName}}</td>
            <td class="name" *ngIf="appCate=='离线文件分析'">{{item.alarmTime}}</td>
            <td class="pad">{{item.alarmTime}}</td>
            <td class="pad">{{item.duration}}</td>
            <td class="pad">
              <img src="../assets/warn/chakan.png" class="mrgr"/>
              <img src="../assets/warn/xiazai.png" class="mrgr" (click)="download(item)"/>
            </td>
            <td>{{item.alarmStatus}}</td>
            <td class="operation pad">
              <img src="../assets/warn/chuli.png" class="mrgr" (click)="handling(item)" *ngIf="item.alarmStatus=='未处理'"/>
              <img src="../assets/warn/chuli--hui.png" class="mrgr" *ngIf="item.alarmStatus=='已处理'"/>
              <img src="../assets/warn/chakanxiangqing.png" class="mrgr" (click)="lookPhoto(item)"/>
            </td>
          </tr>
        </table>
        <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      </div>
    </div>
  </div>
  <div class="lookDetail" [style.display]="lookIndex==1?'':'none'">
    <div class="detail_title">告警详情</div>
    <div class="detail_content">
      <div class="detail_info">
        <span class="info_name">项目名称：</span>
        <span class="info_content">{{detaillist.applicationName}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">通道名称：</span>
        <span class="info_content">{{detaillist.channelName}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警规则：</span>
        <span class="info_content">嫌疑车辆</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警时间：</span>
        <span class="info_content">{{detaillist.alarmTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警时长：</span>
        <span class="info_content">{{detaillist.duration}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警状态：</span>
        <span class="info_content">{{detaillist.alarmStatus}}</span>
        <a class="btn bgcg inline" (click)="lookHandling(detaillist)" *ngIf="detaillist.alarmStatus=='未处理'">处理</a>
      </div>
      <div class="detail_info">
        <span class="info_name">处理时间：</span>
        <span class="info_content">{{detaillist.processTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">创建时间：</span>
        <span class="info_content">{{detaillist.createTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警快照：</span>
        <span class="info_content"><img src="{{SERVER_URL}}/api/file?filePath={{detaillist.imagePath}}"/></span>
      </div>
      <div class="detail_info">
        <span class="info_name"></span>
        <span class="info_content"><a href="#" onclick="return false" class="downPhoto" (click)="download(detaillist)">下载快照</a></span>
      </div>
      <div class="detail_info">
        <span class="info_name"></span>
        <span class="info_content">
          <a href="#" onclick="return false" class="btn bgco save" (click)="save(detaillist)">保存</a>
          <a href="#" onclick="return false" class="btn bgcg cancel" (click)="cancel()">取消</a>
        </span>
      </div>
    </div>
  </div>
</div>
