<div class="container">
  <div class="warn-wrapper" [style.display]="lookIndex==0?'':'none'">
    <div class="tabs">
      <div class="tab_item" routerLinkActive="active" routerLink="/warntime">时间段告警</div>
      <div class="tab_item focus" routerLinkActive="active" routerLink="/warnmanage">告警明细</div>
      <div class="tab_item" routerLinkActive="active" routerLink="/warnrlue">告警规则</div>
    </div>
    <div class="search-content">
      <div class="search-select">
        <div class="search-info" *ngIf="appCate=='实时流分析'">
          <label>通道名称：</label>
          <select [(ngModel)]="chanName" (ngModelChange)="chanName=$event;">
            <option *ngFor="let item of chanNameArr" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div class="search-info" *ngIf="appCate=='离线文件分析'">
          <label>告警任务：</label>
          <select [(ngModel)]="warnTask" (ngModelChange)="warnTask=$event;changeWarnTask()">
            <option *ngFor="let item of warnTaskArr" value="{{item.taskName}}">{{item.taskName}}</option>
          </select>
        </div>
        <div class="search-info">
          <label>告警规则：</label>
          <select [(ngModel)]="warnRlue" (ngModelChange)="warnRlue=$event;">
            <option *ngFor="let item of warnRlueArr" value="{{item.ruleName}}">{{item.ruleName}}</option>
          </select>
        </div>
        <div class="search-info"  [style.display]="showTime?'none':''" style="float: right;">
          <a href="#" onclick="return false" class="btn bgco" (click)="search()" style="margin-top: 0;">查询</a>
        </div>
        <!--<div class="search-info">
          <label>告警状态：</label>
          <select [(ngModel)]="warnStatus" (ngModelChange)="warnStatus=$event;">
            <option *ngFor="let item of statusArr" value="{{item}}">{{item}}</option>
          </select>
        </div>-->
      </div>
      <div class="search-time"  [style.display]="showTime&&appCate=='实时流分析'?'':'none'">
        <div class="search-info no-margin">
          <div class="search-info no-margin">
            <label>告警时间：</label>
            <input type="text" id="start" class="time" readonly placeholder="请选择时间"/>
            <span class="shishi-text">至</span>
            <input type="text" id="end" class="time" readonly placeholder="请选择时间" style="margin-left: 0"/>
          </div>
        </div>
        <a href="#" onclick="return false" class="btn bgco" (click)="search()">查询</a>
      </div>
      <div class="search-time" [style.display]="showTime&&appCate=='离线文件分析'?'':'none'">
        <div class="search-info no-margin">
          <label style="margin-right: 1.67vw">告警时间：</label>
          <select class="time-choose"[(ngModel)]="startHour" (ngModelChange)="startHour=$event">
            <option *ngFor="let item of startHourMax" value="{{item}}">{{item}}</option>
          </select>
          <span class="maohao">:</span>
          <select class="time-choose" [(ngModel)]="startMinute" (ngModelChange)="startMinute=$event">
            <option *ngFor="let item of startMinuteMax" value="{{item}}">{{item}}</option>
          </select>
          <span class="maohao">:</span>
          <select class="time-choose" [(ngModel)]="startSecond" (ngModelChange)="startSecond=$event">
            <option *ngFor="let item of startSecondMax" value="{{item}}">{{item}}</option>
          </select>
          <span class="text">至</span>
          <select class="time-choose" [(ngModel)]="endHour" (ngModelChange)="endHour=$event">
            <option *ngFor="let item of endHourMax" value="{{item}}">{{item}}</option>
          </select>
          <span class="maohao">:</span>
          <select class="time-choose" [(ngModel)]="endMinute" (ngModelChange)="endMinute=$event">
            <option *ngFor="let item of endMinuteMax" value="{{item}}">{{item}}</option>
          </select>
          <span class="maohao">:</span>
          <select class="time-choose" [(ngModel)]="endSecond" (ngModelChange)="endSecond=$event">
            <option *ngFor="let item of endSecondMax" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <a href="#" onclick="return false" class="btn bgco" (click)="search()">查询</a>
      </div>
    </div>
    <div class="warn-content" id="warn-content">
      <a href="#" onclick="return false" class="btn bgcg" (click)="export()">导出</a>
      <div class="table-margin" >
        <table class="channelTable" cellspacing="0">
          <tr>
            <th class="checked">
              <img src="../assets/appdetail/way.manage/unchecked.png" *ngIf="allFlag==false" class="middle" (click)="allSel()"/>
              <img src="../assets/appdetail/way.manage/checked.png" *ngIf="allFlag==true" class="middle" (click)="allSel()"/>
            </th>
            <th class="task">{{appCate=='实时流分析'?'通道名称':'告警任务'}}</th>
            <th class="rule">告警规则</th>
            <th class="file" *ngIf="appCate=='离线文件分析'">告警文件</th>
            <th class="time" *ngIf="showTime">告警时间</th>
            <!--<th class="durtion">时长(s)</th>-->
            <th class="photo">快照</th>
            <!--<th class="status">状态</th>-->
            <th class="operation">操作</th>
          </tr>
          <tr *ngFor="let item of allWarn let i=index;">
            <td class="checked">
              <img [src]="item.selected?'assets/appdetail/way.manage/checked.png':'assets/appdetail/way.manage/unchecked.png'" class="middle" (click)="check(item)"/>
            </td>
            <td *ngIf="appCate=='实时流分析'" title="{{item.channelName}}">{{item.channelName}}</td>
            <td *ngIf="appCate=='离线文件分析'" title="{{item.taskName}}">{{item.taskName}}</td>
            <td title="{{item.ruleName}}">{{item.ruleName}}</td>
            <td *ngIf="appCate=='离线文件分析'" title="{{item.alarmFileName}}">{{item.alarmFileName}}</td>
            <td title="{{item.alarmTime}}" *ngIf="appCate=='实时流分析'&&showTime">{{item.alarmTime}}</td>
            <td title="{{getTime(item.alarmTime)}}" *ngIf="appCate=='离线文件分析'&&showTime">{{getTime(item.alarmTime)}}</td>
            <!--<td title="{{duraTime(item.duration)}}">{{duraTime(item.duration)}}</td>-->
            <td>
              <img src="../assets/warn/chakan.png" class="mrgr" (click)="seePhoto(item.imagePath)" title="查看快照"/>
              <!--<img src="../assets/warn/xiazai.png" class="mrgr"  title="下载快照" onclick="document.getElementById('down').click();"/>-->
              <span title="下载快照" class="downImage" id="downImage" (click)="downloadFile(item)"></span>
              <!--<span (click)="downImage(item)" class="downImage" id="downImage"></span>-->
            </td>
            <!--<td title="{{item.alarmStatus}}">{{item.alarmStatus}}</td>-->
            <td>
              <!--<img src="../assets/warn/chuli.png" class="mrgr" (click)="handling(item)" *ngIf="item.alarmStatus=='未处理'" title="处理"/>
              <img src="../assets/warn/chuli&#45;&#45;hui.png" class="mrgr" *ngIf="item.alarmStatus=='已处理'" title="处理"/>-->
              <img src="../assets/warn/chakanxiangqing.png" class="mrgr" (click)="lookPhoto(item)" title="查看详情"/>
            </td>
          </tr>
        </table>
        <div class="fangda showImage" *ngIf="seeIndex==1">
            <span>
              <img src="{{SERVER_URL}}/download/{{imageUrl}}" *ngIf="imageUrl" id="image" (load)="getMaxHeight()"/>
              <img src="../assets/appmanage/delete1.png" class="close closeImage" (click)="close()"/>
            </span>
        </div>
        <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      </div>
      <app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn" (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
    </div>
  </div>
  <div class="lookDetail" [style.display]="lookIndex==1?'':'none'" [ngStyle]="getHeight()">
    <div class="detail_title">告警详情</div>
    <div class="detail_content" id="detail_content">
      <div class="detail_info">
        <span class="info_name">项目名称：</span>
        <span class="info_content">{{detaillist.applicationName}}</span>
      </div>
      <div class="detail_info" *ngIf="appCate=='实时流分析'">
        <span class="info_name">通道名称：</span>
        <span class="info_content">{{detaillist.channelName}}</span>
      </div>
      <div class="detail_info" *ngIf="appCate=='离线文件分析'">
        <span class="info_name">告警任务：</span>
        <span class="info_content">{{detaillist.taskName}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警规则：</span>
        <span class="info_content">{{detaillist.ruleName}}</span>
      </div>
      <div class="detail_info" *ngIf="appCate=='离线文件分析'">
        <span class="info_name">告警文件：</span>
        <span class="info_content">{{detaillist.alarmFileName}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警时间：</span>
        <span class="info_content" *ngIf="appCate=='实时流分析'">{{detaillist.alarmTime}}</span>
        <span class="info_content" *ngIf="appCate=='离线文件分析'">{{getTime(detaillist?.alarmTime)}}</span>
      </div>
      <!--      <div class="detail_info">
              <span class="info_name">告警时长：</span>
              <span class="info_content">{{duraTime(detaillist.duration)}}(s)</span>
            </div>
            <div class="detail_info" style="line-height: 32px;">
              <span class="info_name">告警状态：</span>
              <span class="info_content">{{detaillist.alarmStatus}}</span>
              <a class="btn bgcg inline" (click)="lookHandling(detaillist)" *ngIf="detaillist.alarmStatus=='未处理'">处理</a>
            </div>
            <div class="detail_info">
              <span class="info_name">处理时间：</span>
              <span class="info_content">{{detaillist.processTime}}</span>
            </div>-->
      <div class="detail_info">
        <span class="info_name">创建时间：</span>
        <span class="info_content">{{detaillist.createTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警快照：</span>
        <span class="info_content"><img src="{{SERVER_URL}}/download/{{slicePath(detaillist.imagePath)}}" *ngIf="detaillist.imagePath" (click)="thumbnail()"/></span>
      </div>
      <div class="detail_info">
        <span class="info_name"></span>
        <span class="info_content"><span *ngIf="detaillist.imagePath" class="downPhoto" (click)="downloadFile(detaillist)">下载快照</span></span>
      </div>
      <div class="detail_info">
        <span class="info_name"></span>
        <!--[ngClass]="{marginLeft: detaillist.alarmStatus=='已处理'}"-->
        <span class="info_content" style="margin-bottom: 10px">
          <a href="#" onclick="return false" class="btn bgco save" (click)="save(detaillist)">保存</a>
          <a href="#" onclick="return false" class="btn bgcg cancel" (click)="cancel()">取消</a>
        </span>
      </div>
      <div class="fangda showImage" *ngIf="seeIndex==2">
        <span>
          <img src="{{SERVER_URL}}/download/{{output(detaillist?.imagePath)}}" *ngIf="detaillist.imagePath" id="image" (load)="getMaxHeight()"/>
          <img src="../assets/appmanage/delete.png" class="close closeImage" (click)="close()"/>
        </span>
      </div>
    </div>
  </div>

</div>
