<div class="container">
  <div class="warn-wrapper" [style.display]="lookIndex==0?'':'none'">
    <div class="tabs">
      <div class="tab_item focus" routerLinkActive="active" routerLink="/warnmanage">{{appCate=='实时流分析'?'告警实况':'告警列表'}}</div>
      <div class="tab_item" routerLinkActive="active" routerLink="/warnrlue">告警规则</div>
    </div>
    <div class="search-content">
      <div class="search-select">
        <div class="search-info" *ngIf="appCate=='实时流分析'">
          <label>通道名称：</label>
          <select [(ngModel)]="chanName" (ngModelChange)="chanName=$event;">
            <option *ngFor="let item of chanNameArr" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div class="search-info" *ngIf="appCate=='离线文件分析'">
          <label>告警任务：</label>
          <select [(ngModel)]="warnTask" (ngModelChange)="warnTask=$event;">
            <option *ngFor="let item of warnTaskArr" value="{{item.taskName}}">{{item.taskName}}</option>
          </select>
        </div>
        <div class="search-info">
          <label>告警规则：</label>
          <select [(ngModel)]="warnRlue" (ngModelChange)="warnRlue=$event;">
            <option *ngFor="let item of warnRlueArr" value="{{item.ruleName}}">{{item.ruleName}}</option>
          </select>
        </div>
        <div class="search-info">
          <label>告警状态：</label>
          <select [(ngModel)]="warnStatus" (ngModelChange)="warnStatus=$event;">
            <option *ngFor="let item of statusArr" value="{{item}}">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="search-time">
        <div class="search-info no-margin">
          <label>告警时间：</label>
          <input type="text" id="start" class="time" readonly placeholder="请选择时间"/>
          <span>至</span>
          <input type="text" id="end" class="time" readonly placeholder="请选择时间" style="margin-left: 0"/>
        </div>
        <a href="#" onclick="return false" class="btn bgco" (click)="search()">查询</a>
      </div>
    </div>
    <div class="warn-content" id="warn-content">
      <a href="#" onclick="return false" class="btn bgcg" (click)="export()">导出</a>
      <div class="table-margin" >
        <table class="channelTable" cellspacing="0">
          <tr>
            <th class="checked">
              <img src="../assets/appdetail/way.manage/unchecked.png" *ngIf="allFlag==false" class="middle" (click)="allSel()"/>
              <img src="../assets/appdetail/way.manage/checked.png" *ngIf="allFlag==true" class="middle" (click)="allSel()"/>
            </th>
            <th class="task">{{appCate=='实时流分析'?'通道名称':'告警任务'}}</th>
            <th class="rule">告警规则</th>
            <th class="file" *ngIf="appCate=='离线文件分析'">告警文件</th>
            <th class="time">告警时间</th>
            <th class="durtion">时长</th>
            <th class="photo">快照</th>
            <th class="status">状态</th>
            <th class="operation">操作</th>
          </tr>
          <tr *ngFor="let item of allWarn let i=index;">
            <td class="checked">
              <img src="../assets/appdetail/way.manage/unchecked.png" class="middle" (click)="check(item)" *ngIf="item.flag!=1"/>
              <img src="../assets/appdetail/way.manage/checked.png" class="middle" (click)="check(item)" *ngIf="item.flag==1"/>
            </td>
            <td *ngIf="appCate=='实时流分析'">{{item.channelName}}</td>
            <td *ngIf="appCate=='离线文件分析'">{{item.taskName}}</td>
            <td>{{item.ruleName}}</td>
            <td *ngIf="appCate=='离线文件分析'">{{item.applicationName}}</td>
            <td>{{date(item.alarmTime)}}</td>
            <td>{{item.duration.substring(0,4)}}</td>
            <td>
              <img src="../assets/warn/chakan.png" class="mrgr" (click)="seePhoto()"/>
              <img src="../assets/warn/xiazai.png" class="mrgr" onclick="document.getElementById('down').click()"/>
              <a id="down" href="{{SERVER_URL}}/download/{{item?.imagePath}}" download></a>
            </td>
            <td>{{item.alarmStatus}}</td>
            <td>
              <img src="../assets/warn/chuli.png" class="mrgr" (click)="handling(item)" *ngIf="item.alarmStatus=='未处理'"/>
              <img src="../assets/warn/chuli--hui.png" class="mrgr" *ngIf="item.alarmStatus=='已处理'"/>
              <img src="../assets/warn/chakanxiangqing.png" class="mrgr" (click)="lookPhoto(item)"/>
            </td>
            <div class="fangda" [style.display]="seeIndex==1?'':'none'">
            <span>
              <img src="item?{{SERVER_URL}}/download/{{item?.imagePath}}:''" class="jietu"/>
              <img src="../assets/appmanage/delete.png" class="close" (click)="close()"/>
            </span>
            </div>
          </tr>
        </table>
        <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      </div>
      <app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn" (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
    </div>
  </div>
  <div class="lookDetail" [style.display]="lookIndex==1?'':'none'">
    <div class="detail_title">告警详情</div>
    <div class="detail_content">
      <div class="detail_info">
        <span class="info_name">项目名称：</span>
        <span class="info_content">{{detaillist.applicationName}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">通道名称：</span>
        <span class="info_content">{{detaillist.channelName}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警规则：</span>
        <span class="info_content">嫌疑车辆</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警时间：</span>
        <span class="info_content">{{detaillist.alarmTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警时长：</span>
        <span class="info_content">{{detaillist.duration}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警状态：</span>
        <span class="info_content">{{detaillist.alarmStatus}}</span>
        <a class="btn bgcg inline" (click)="lookHandling(detaillist)" *ngIf="detaillist.alarmStatus=='未处理'">处理</a>
      </div>
      <div class="detail_info">
        <span class="info_name">处理时间：</span>
        <span class="info_content">{{detaillist.processTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">创建时间：</span>
        <span class="info_content">{{detaillist.createTime}}</span>
      </div>
      <div class="detail_info">
        <span class="info_name">告警快照：</span>
        <span class="info_content"><img src="detaillist?{{SERVER_URL}}/download/{{detaillist?.imagePath}}:''" (click)="thumbnail()"/></span>
      </div>
      <div class="fangda" [style.display]="seeIndex==2?'':'none'">
            <span>
              <img src="detaillist?{{SERVER_URL}}/download/{{detaillist?.imagePath}}:''" class="jietu"/>
              <img src="../assets/appmanage/delete.png" class="close" (click)="close()"/>
            </span>
      </div>
      <div class="detail_info">
        <span class="info_name"></span>
        <span class="info_content"><a href="detaillist?{{SERVER_URL}}/download/{{detaillist?.imagePath}}:''" class="downPhoto" download>下载快照</a></span>
      </div>
      <div class="detail_info">
        <span class="info_name"></span>
        <span class="info_content" [ngClass]="{marginLeft: detaillist.alarmStatus=='已处理'}">
          <a href="#" onclick="return false" class="btn bgco save" (click)="save(detaillist)" *ngIf="detaillist.alarmStatus=='未处理'">保存</a>
          <a href="#" onclick="return false" class="btn bgcg cancel" (click)="cancel()">取消</a>
        </span>
      </div>
    </div>
  </div>

</div>
