<div class="container">
  <div class="video-wrapper">
<!--    <div class="left-bar" *ngIf="s_fullscreen_grid === 0">
      <img title="人机识别" (click)="$popup_toggle()" [src]="s_popup_show ? 'assets/appdetail/video-analysis/icon_analysis_h.png' :'assets/appdetail/video-analysis/icon_analysis_n.png'">
      <div class="divider"></div>
      &lt;!&ndash;<img title="屏幕截图" [src]="'assets/appdetail/video-analysis/icon_screenshot.png'">
      <div class="divider"></div>&ndash;&gt;
      <img title="单格视图" (click) = "$grid_icon_click(1)" [src]="s_grid_number === 1 ? 'assets/appdetail/video-analysis/icon_1_h.png' : 'assets/appdetail/video-analysis/icon_1_n.png'">
      <img title="四格视图" (click) = "$grid_icon_click(4)" [src]="s_grid_number === 4 ? 'assets/appdetail/video-analysis/icon_4_h.png' : 'assets/appdetail/video-analysis/icon_4_n.png'">
      <img title="六格视图" (click) = "$grid_icon_click(6)" [src]="s_grid_number === 6 ? 'assets/appdetail/video-analysis/icon_6_h.png' : 'assets/appdetail/video-analysis/icon_6_n.png'">
      <img title="八格视图" (click) = "$grid_icon_click(8)" [src]="s_grid_number === 8 ? 'assets/appdetail/video-analysis/icon_8_h.png' : 'assets/appdetail/video-analysis/icon_8_n.png'">
      <img title="九格视图" (click) = "$grid_icon_click(9)" [src]="s_grid_number === 9 ? 'assets/appdetail/video-analysis/icon_9_h.png' : 'assets/appdetail/video-analysis/icon_9_n.png'">
    </div>-->
    <div class="left-bar">
      <img src="assets/appdetail/video-analysis/toggleRight.png" (click)="show_rule()" [ngClass]="{anmationRight:leftbar}" class="toggleRight" id="toggleRight"/>
      <img src="assets/appdetail/video-analysis/toggleLeft.png" (click)="show_rule()" [ngClass]="{anmationLeft:!leftbar}" class="toggleLeft" id="toggleLeft"/>
    </div>
    <!-- 视频区域 -->
    <div class="right-content">
      <div (mousedown)="$grid_click(1 , $event)" [ngStyle]="ngStyle_grid_selected(1)" class="player-item index1" [ngClass]="ngClass_grid(1)" (mouseenter)="showFull(1)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(1)}}</label>
        <!--<img *ngIf="s_fullscreen_grid === 1" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex1==1&&d_video_list.length>=1?'':'none'">-->
        <img *ngIf="!get_switch(1)" (mousedown)="$channel_click(1, $event)"  [src]="get_switch_icon_url(1)" class="item-switch" [style.display]="fullscreenIndex1==1&&d_video_list.length>=1?'':'none'"/>
        <img *ngIf="get_switch(1)" (mousedown)="$channel_click(1, $event)"  [src]="get_switch_off_icon_url(1)" class="item-switch" [style.display]="fullscreenIndex1==1&&d_video_list.length>=1?'':'none'"/>
        <img (mousedown)="$fullscreen_click(1 , $event)" [style.display]="fullscreenIndex1==1&&d_video_list.length>=1?'':'none'" [src]="get_fullscreen_icon_url(1)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=1">
        <img (mousedown)="$fullscreen_click(1 , $event)" [style.display]="fullscreenIndex1==1?'':'none'" [src]="get_fullscreen_icon_url(1)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===1">
        <img (mousedown)="$add_video_click(1 , $event)" *ngIf="ngIfaddVideo(1)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(1)"></jwplayer>
      </div>
      <!--<div (mousedown)="$grid_click(2 , $event)" [ngStyle]="ngStyle_grid_selected(2)" class="player-item index2" [ngClass]="ngClass_grid(2)" *ngIf="s_grid_number > 1" (mouseenter)="showFull(2)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(2)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 2" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex2==2&&d_video_list.length>=2?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(2)" (mousedown)="$channel_click(2, $event)" [src]="get_switch_icon_url(2)" class="item-switch" [style.display]="fullscreenIndex2==2&&d_video_list.length>=2?'':'none'"/>
        <img *ngIf="get_switch(2)" (mousedown)="$channel_click(2, $event)" [src]="get_switch_off_icon_url(2)" class="item-switch" [style.display]="fullscreenIndex2==2&&d_video_list.length>=2?'':'none'"/>
        <img (mousedown)="$fullscreen_click(2 , $event)" [style.display]="fullscreenIndex2==2&&d_video_list.length>=2?'':'none'" [src]="get_fullscreen_icon_url(2)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=2">
        <img (mousedown)="$fullscreen_click(2 , $event)" [style.display]="fullscreenIndex2==2?'':'none'" [src]="get_fullscreen_icon_url(2)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===2">
        <img (mousedown)="$add_video_click(2 , $event)" *ngIf="ngIfaddVideo(2)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(2)"   [url]="get_ckplayer_url(2)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(3 , $event)"  class="player-item index3" [ngStyle]="ngStyle_grid_index3()" [ngClass]="ngClass_grid(3)" *ngIf="s_grid_number > 1" (mouseenter)="showFull(3)" (mouseleave)="hideFull(0)">
        <label  class="item-title">{{get_ckplayer_index(3)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 3" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex3==3&&d_video_list.length>=3?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(3)" (mousedown)="$channel_click(3, $event)" [src]="get_switch_icon_url(3)" class="item-switch" [style.display]="fullscreenIndex3==3&&d_video_list.length>=3?'':'none'"/>
        <img *ngIf="get_switch(3)" (mousedown)="$channel_click(3, $event)" [src]="get_switch_off_icon_url(3)" class="item-switch" [style.display]="fullscreenIndex3==3&&d_video_list.length>=3?'':'none'"/>
        <img (mousedown)="$fullscreen_click(3 , $event)" [style.display]="fullscreenIndex3==3&&d_video_list.length>=3?'':'none'" [src]="get_fullscreen_icon_url(3)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=3">
        <img (mousedown)="$fullscreen_click(3 , $event)" [style.display]="fullscreenIndex3==3?'':'none'" [src]="get_fullscreen_icon_url(3)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===3">
        <img (mousedown)="$add_video_click(3 , $event)" *ngIf="ngIfaddVideo(3)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(3)" [url]="get_ckplayer_url(3)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(4 , $event)"  class="player-item index4" [ngStyle]="ngStyle_grid_index4()" [ngStyle]="" [ngClass]="ngClass_grid(4)" *ngIf="s_grid_number > 1" (mouseenter)="showFull(4)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(4)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 4" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex4==4&&d_video_list.length>=4?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(4)" (mousedown)="$channel_click(4, $event)" [src]="get_switch_icon_url(4)" class="item-switch" [style.display]="fullscreenIndex4==4&&d_video_list.length>=4?'':'none'"/>
        <img *ngIf="get_switch(4)" (mousedown)="$channel_click(4, $event)" [src]="get_switch_off_icon_url(4)" class="item-switch" [style.display]="fullscreenIndex4==4&&d_video_list.length>=4?'':'none'"/>
        <img (mousedown)="$fullscreen_click(4 , $event)" [style.display]="fullscreenIndex4==4&&d_video_list.length>=4?'':'none'" [src]="get_fullscreen_icon_url(4)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=4">
        <img (mousedown)="$fullscreen_click(4 , $event)" [style.display]="fullscreenIndex4==4?'':'none'" [src]="get_fullscreen_icon_url(4)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===4">
        <img (mousedown)="$add_video_click(4 , $event)" *ngIf="ngIfaddVideo(4)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(4)" [url]="get_ckplayer_url(4)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(5 , $event)" [ngStyle]="ngStyle_grid_selected(5)" class="player-item index5" [ngClass]="ngClass_grid(5)"  *ngIf="s_grid_number > 4" (mouseenter)="showFull(5)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(5)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 5" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex5==5&&d_video_list.length>=5?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(5)" (mousedown)="$channel_click(5, $event)" [src]="get_switch_icon_url(5)" class="item-switch" [style.display]="fullscreenIndex5==5&&d_video_list.length>=5?'':'none'"/>
        <img *ngIf="get_switch(5)" (mousedown)="$channel_click(5, $event)" [src]="get_switch_off_icon_url(5)" class="item-switch" [style.display]="fullscreenIndex5==5&&d_video_list.length>=5?'':'none'"/>
        <img (mousedown)="$fullscreen_click(5 , $event)" [style.display]="fullscreenIndex5==5&&d_video_list.length>=5?'':'none'" [src]="get_fullscreen_icon_url(5)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=5">
        <img (mousedown)="$fullscreen_click(5 , $event)" [style.display]="fullscreenIndex5==5?'':'none'" [src]="get_fullscreen_icon_url(5)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===5">
        <img (mousedown)="$add_video_click(5 , $event)" *ngIf="ngIfaddVideo(5)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(5)" [url]="get_ckplayer_url(6)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(6 , $event)" [ngStyle]="ngStyle_grid_selected(6)" class="player-item index6" [ngClass]="ngClass_grid(6)" *ngIf="s_grid_number > 4" (mouseenter)="showFull(6)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(6)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 6" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex6==6&&d_video_list.length>=6?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(6)" (mousedown)="$channel_click(6, $event)" [src]="get_switch_icon_url(6)" class="item-switch" [style.display]="fullscreenIndex6==6&&d_video_list.length>=6?'':'none'"/>
        <img *ngIf="get_switch(6)" (mousedown)="$channel_click(6, $event)" [src]="get_switch_off_icon_url(6)" class="item-switch" [style.display]="fullscreenIndex6==6&&d_video_list.length>=6?'':'none'"/>
        <img (mousedown)="$fullscreen_click(6 , $event)" [style.display]="fullscreenIndex6==6&&d_video_list.length>=6?'':'none'" [src]="get_fullscreen_icon_url(6)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=6">
        <img (mousedown)="$fullscreen_click(6 , $event)" [style.display]="fullscreenIndex6==6?'':'none'" [src]="get_fullscreen_icon_url(6)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===6">
        <img (mousedown)="$add_video_click(6 , $event)" *ngIf="ngIfaddVideo(6)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer  *ngIf="get_ckplayer_exist(6)" [url]="get_ckplayer_url(6)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(7 , $event)" [ngStyle]="ngStyle_grid_selected(7)" class="player-item index7" [ngClass]="ngClass_grid(7)" *ngIf="s_grid_number > 6" (mouseenter)="showFull(7)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(7)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 7" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex7==7&&d_video_list.length>=7?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(7)" (mousedown)="$channel_click(7, $event)" [src]="get_switch_icon_url(7)" class="item-switch" [style.display]="fullscreenIndex7==7&&d_video_list.length>=7?'':'none'"/>
        <img *ngIf="get_switch(7)" (mousedown)="$channel_click(7, $event)" [src]="get_switch_off_icon_url(7)" class="item-switch" [style.display]="fullscreenIndex7==7&&d_video_list.length>=7?'':'none'"/>
        <img (mousedown)="$fullscreen_click(7 , $event)" [style.display]="fullscreenIndex7==7&&d_video_list.length>=7?'':'none'" [src]="get_fullscreen_icon_url(7)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=7">
        <img (mousedown)="$fullscreen_click(7 , $event)" [style.display]="fullscreenIndex7==7?'':'none'" [src]="get_fullscreen_icon_url(7)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===7">
        <img (mousedown)="$add_video_click(7 , $event)" *ngIf="ngIfaddVideo(7)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(7)" [url]="get_ckplayer_url(7)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(8 , $event)" [ngStyle]="ngStyle_grid_selected(8)" class="player-item index8" [ngClass]="ngClass_grid(8)"  *ngIf="s_grid_number > 6" (mouseenter)="showFull(8)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(8)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 8" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex8==8&&d_video_list.length>=8?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(8)" (mousedown)="$channel_click(8, $event)" [src]="get_switch_icon_url(8)" class="item-switch" [style.display]="fullscreenIndex8==8&&d_video_list.length>=8?'':'none'"/>
        <img *ngIf="get_switch(8)" (mousedown)="$channel_click(8, $event)" [src]="get_switch_off_icon_url(8)" class="item-switch" [style.display]="fullscreenIndex8==8&&d_video_list.length>=8?'':'none'"/>
        <img (mousedown)="$fullscreen_click(8 , $event)" [style.display]="fullscreenIndex8==8&&d_video_list.length>=8?'':'none'" [src]="get_fullscreen_icon_url(8)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=8">
        <img (mousedown)="$fullscreen_click(8 , $event)" [style.display]="fullscreenIndex8==8?'':'none'" [src]="get_fullscreen_icon_url(8)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===8">
        <img (mousedown)="$add_video_click(8 , $event)" *ngIf="ngIfaddVideo(8)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(8)" [url]="get_ckplayer_url(8)"></jwplayer>
      </div>
      <div (mousedown)="$grid_click(9 , $event)" [ngStyle]="ngStyle_grid_selected(9)" class="player-item index9" [ngClass]="ngClass_grid(9)" *ngIf="s_grid_number > 8" (mouseenter)="showFull(9)" (mouseleave)="hideFull(0)">
        <label class="item-title">{{get_ckplayer_index(9)}}</label>
        &lt;!&ndash;<img *ngIf="s_fullscreen_grid === 9" class="item-screenshot" src="assets/appdetail/video-analysis/icon_screenshot_h.png" alt="" title="屏幕截图" [style.display]="fullscreenIndex9==9&&d_video_list.length>=9?'':'none'">&ndash;&gt;
        <img *ngIf="!get_switch(9)" (mousedown)="$channel_click(9, $event)" [src]="get_switch_icon_url(9)" class="item-switch" [style.display]="fullscreenIndex9==9&&d_video_list.length>=9?'':'none'"/>
        <img *ngIf="get_switch(9)" (mousedown)="$channel_click(9, $event)" [src]="get_switch_off_icon_url(9)" class="item-switch" [style.display]="fullscreenIndex9==9&&d_video_list.length>=9?'':'none'"/>
        <img (mousedown)="$fullscreen_click(9 , $event)" [style.display]="fullscreenIndex9==9&&d_video_list.length>=9?'':'none'" [src]="get_fullscreen_icon_url(9)" alt="" class="item-fullscreen" title="全屏" *ngIf="s_fullscreen_grid!=9">
        <img (mousedown)="$fullscreen_click(9 , $event)" [style.display]="fullscreenIndex9==9?'':'none'" [src]="get_fullscreen_icon_url(9)" alt="" class="item-fullscreen" title="缩小" *ngIf="s_fullscreen_grid===9">
        <img (mousedown)="$add_video_click(9 , $event)" *ngIf="ngIfaddVideo(9)" src="assets/appdetail/video-analysis/add_video.png" alt="" class="item-add-video" title="新增通道">
        <jwplayer *ngIf="get_ckplayer_exist(9)"  [url]="get_ckplayer_url(9)"></jwplayer>
      </div>-->
    </div>

    <!-- 人机识别 popup -->
<!--    <div class="analysis-popup" *ngIf="s_popup_show">
      <div class="scroll-wrapper">
        <div>
          <label class="classification level-text">分类：</label>
        </div>
        <div class="popup-item all">
          <img (click)="$popup_select_all_toggle()" [src]="s_popup_allselect ? 'assets/appdetail/video-analysis/icon_select_h.png' : 'assets/appdetail/video-analysis/icon_select_n.png'">
          <label [ngStyle]="ngStyle_popup_allselect()" class="popup-title">全选</label>
        </div>
        <div *ngFor="let re of d_analysis_options;let i = index" class="levelOne level-text">
          <div class="level"  (click)="arrow_toggle(i)" [class.focusColor]="re.selected">
          <label class="middle levelOne-label">{{re.classificationName}}</label>
          <img [src]="(re.selected)?'assets/appdetail/video-analysis/shang.png':'assets/appdetail/video-analysis/xia.png'" class="middle"/>
          </div>
          <div class="levelTwo" *ngFor="let item of re.recognitionCategories; let j = index" [style.display]="re.selected?'':'none'">
            <img class="middle" (click)="$popup_select_toggle(i,j)" [src]="(item.selected) ? 'assets/appdetail/video-analysis/icon_select_h.png' : 'assets/appdetail/video-analysis/icon_select_n.png'">
            <label class="middle" *ngIf="item.color!=1&&item.color1!=1">{{item.name}}</label>
            <label class="middle" style="color: #999;" *ngIf="item.color==1||item.color1==1">{{item.name}}</label>
          </div>
        </div>
&lt;!&ndash;        <div class="popup-item" *ngFor="let item of d_analysis_options; let i = index">
          <img (click)="$popup_select_toggle(i)" [src]="(item.selected) ? 'assets/appdetail/video-analysis/icon_select_h.png' : 'assets/appdetail/video-analysis/icon_select_n.png'">
          <label class="popup-title">{{item.name}}</label>
          &lt;!&ndash;[ngStyle]="ngStyle_popup_select(item.selected)"&ndash;&gt;
        </div>&ndash;&gt;
      </div>
      <div class="analysis-submit-wrapper">
        <div (click)="$change_analysis_submit()" class="submit-btn" *ngIf="authority">保 存</div>
        <div class="submit-btn" *ngIf="!authority">保 存</div>
      </div>
    </div>
    <div class="feature-people" *ngIf="showFeature==1" [ngClass]="{overHeight: heightIndex==1}">
        <div class="feature-content" *ngFor="let item of arr let i=index" [class.noBorder]="i+1==arr.length">
          <div class="feature-input">
            <label>人名：</label>
            <input type="text" [(ngModel)]="item.targetFeature" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')">
            <img src="assets/appdetail/video-analysis/huanhang.png" (click)="addData()" *ngIf="(i+1)==arr.length" />
            &lt;!&ndash;<span *ngIf="reduired==1">必填字段</span>&ndash;&gt;
          </div>
          <div class="feature-upload">
            <label>特征名称：</label>
            <div class="feature-show">
              <div class="feature-showPhoto">
               <span  *ngFor="let re of item.photoContainer;let j=index">
                 <img src="{{SERVER_URL}}/download/{{outputImg(re)}}" alt="" class="feature-photo">
                 <img src="assets/appdetail/video-analysis/delete-feature.png" class="feature-del" (click)="delPhoto(item,j)"/>
               </span>
                <img src="assets/appdetail/video-analysis/addPhoto.png" (click)="getInput(i)" [class.addPhoto]="item.photoContainer.length>0"/>
              </div>
              <input type="file" style="display: none" multiple id={{i}} name="file" ng2FileSelect [uploader]="uploader" accept=".jpg,.png" (change)="selectedFileOnChanged($event,item)"/>
            </div>
          </div>
        </div>
      <div class="feature-footer">
        注：人名仅支持英文输入，特征图片支持格式jpg、png
      </div>
    </div>
  </div>-->
    <div class="analysis-rule" [ngStyle]="getSideBarHeight()">
      <div class="analysis-rule-header">
        <span>告警规则</span>
        <span (click)="createRule()" [ngClass]="{createBtn: !create_show}">新建</span>
      </div>
      <div class="analysis-rule-content">
        <!--      <div class="analysis-rule-remind">
                <label>告警提醒</label>
                <div>
                  <span class="switch">
                    <img [src]="switch=='start'?'assets/appdetail/way.manage/radio.png':'assets/appdetail/way.manage/unradio.png'" class="middle" (click)="switchToggle('start')"/>
                    <span class="middle">开启</span>
                  </span>
                  <span class="switch end">
                    <img [src]="switch=='end'?'assets/appdetail/way.manage/radio.png':'assets/appdetail/way.manage/unradio.png'" class="middle" (click)="switchToggle('end')"/>
                    <span class="middle">关闭</span>
                  </span>
                </div>
              </div>-->
        <div class="create-rule" *ngIf="create_show">
          <div class="info">
            <label>规则名称：</label>
            <input type="text" name="ruleName" [(ngModel)]="ruleName" (blur)="checkName()"/>
          </div>
          <div class="must" [style.display]="chanRequired1==1?'':'none'">必填字段</div>
          <div class="must" [style.display]="ruleNameMust==1?'':'none'">该名称已存在</div>
          <div class="info" style="height: auto;margin-bottom: 0">
            <label>告警对象：</label>
            <select [(ngModel)]="warnObj" (ngModelChange)="warnObj=$event;changeWarn()">
              <option value="{{item.classificationName}}" *ngFor="let item of warnObjArr">{{item.classificationName}}</option>
            </select>
            <select class="detail" [(ngModel)]="warnObjDetail" (ngModelChange)="warnObjDetail=$event;changeDetail()">
              <option value="{{item.name}}" *ngFor="let item of warnObjDetailArr">{{item.name}}</option>
            </select>
          </div>
          <div class="info" *ngIf="identifyName=='人'">
            <label>对象特征：</label>
            <span class="personNum">人名</span>
            <input type="text" class="person" name="personName" [(ngModel)]="personName" onkeyup="value=value.replace(/[^\w\.\/]/ig,'')"/>
          </div>
          <div class="info" style="padding-left: 120px;height: auto;" *ngIf="identifyName=='人'">
            <span class="pohotText">特征图片</span>
            <div class="showPhoto">
             <span  *ngFor="let item of photoContainer;let i=index">
               <img src="{{SERVER_URL}}/download/{{outputImg(item)}}" alt="" class="photo">
               <img src="../assets/appmanage/delete.png" class="del" (click)="delPhoto(i)"/>
             </span>
            </div>
            <a href="javascript:void(0)" class="btn" id="upload" style="color: #333;" onclick="document.getElementById('file').click()">上传</a>
            <input type="file" multiple id="file" name="file" ng2FileSelect [uploader]="uploader" accept=".jpg,.png" (change)="selectedFileOnChanged($event)"/>
            <span class="zhushi">注：人名仅支持英文输入，特征图片支持格式jpg、png</span>
          </div>
          <div class="ruleBtn">
            <a href="javascript:void(0)" class="btn bgco" (click)="saveRule()">保存</a>
            <a href="javascript:void(0)" class="btn bgcg" style="margin-left: 16px" (click)="cancelRule()">取消</a>
          </div>
        </div>
        <div class="all-rule">
          <div class="single-rule" *ngFor="let item of rulesInfo">
            <img [src]="item.selected?'assets/appdetail/way.manage/radio.png':'assets/appdetail/way.manage/unradio.png'" class="middle" (click)="choose_rule(item)"/>
            <span class="middle rule-name">{{item.ruleName}}</span>
          </div>
        </div>
        <div class="submit" [style.display]="btn_show?'':'none'">
          <div (click)="$change_analysis_submit()" class="btn bgco" style="margin-left: 27px;margin-top: 40px">确定</div>
          <div href="javascript:void(0)" class="btn bgcg" style="margin-left: 16px" (click)="$cancel_analysis_submit()">取消</div>
        </div>
      </div>
    </div>
  <ng2-toasty class="toasty" [position]="'top-center'"></ng2-toasty>

  <div class="dialog" [style.display]="addDialog==1?'':'none'">
    <div class="dialogContainer addDialogContainer">
      <div class="dialogHeader">
        <span>新增通道</span>
      </div>
      <div class="dialogContent">
        <div class="info">
          <label>通道名称：</label>
          <input type="text" name="chanName" [(ngModel)]="chanName"/>
          <span class="must" [style.display]="chanRequired1==1?'':'none'">必填字段</span>
        </div>
        <div class="info">
          <label>通道地址：</label>
          <input type="text" name="chanAddr" [(ngModel)]="chanAddr"/>
          <span class="must" [style.display]="chanRequired2==1?'':'none'">必填字段</span>
        </div>
        <div class="info">
          <label>通道协议：</label>
          <select [(ngModel)]="protocol" (ngModelChange)="protocol=$event;">
            <option value="{{i}}" *ngFor="let i of protocols">{{i}}</option>
          </select>
        </div>
        <div class="info">
          <label>通道类型：</label>
          <select [(ngModel)]="channelType" (ngModelChange)="channelType=$event;">
            <option value="{{i}}" *ngFor="let i of channelTypes">{{i}}</option>
          </select>
        </div>
        <div class="info">
          <label>视频地址：</label>
          <input type="text" name="videoAddress" [(ngModel)]="videoAddress"/>
        </div>
        <div class="info">
          <label>是否开启：</label>
          <span class="radio">
            <img src="../assets/appdetail/way.manage/unradio.png" class="middle" *ngIf="radioIndex!=1" (click)="radio(1)"/>
            <img src="../assets/appdetail/way.manage/radio.png" class="middle" *ngIf="radioIndex==1" (click)="radio(1)"/><span class="middle fontSize">开启</span>
            <img src="../assets/appdetail/way.manage/unradio.png" class="middle" *ngIf="radioIndex!=0" (click)="radio(0)" style="margin-left: 20px"/>
            <img src="../assets/appdetail/way.manage/radio.png" class="middle" *ngIf="radioIndex==0" (click)="radio(0)" style="margin-left: 20px"/><span class="middle fontSize">关闭</span>
          </span>
        </div>
        <div class="infoBtn">
          <a href="javascript:void(0)" class="btn bgco" style="margin-left: 28px" (click)="create()">创建</a>
          <a href="javascript:void(0)" class="btn bgcg" style="margin-left: 28px" (click)="cancel()">取消</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn" (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
</div>
