<div class="container">
  <div class="channel">
    <div class="channelTitle">
      <!--<div class="search">-->
        <!--<input type="text" placeholder="搜索通道" name="search" [(ngModel)]="search"/>-->
        <!--<img src="../assets/appdetail/way.manage/search.png" (click)="searchChannel()"/>-->
      <!--</div>-->
      <div class="channelName">
        <label>通道名称：</label><input type="text" name="channelName" [(ngModel)]="channelName"/>
      </div>
      <div class="channelName">
        <label>开启状态：</label>
        <select [(ngModel)]="status" (ngModelChange)="status=$event;">
          <option *ngFor="let item of statusArr" value="{{item}}">{{item}}</option>
        </select>
      </div>
      <a href="#" onclick="return false" class="btn searchBtn" (click)="searchResult()">查询</a>
    </div>
    <div class="channelContent" id="channelContent">
        <div class="headerBtn">
          <a href="javascript:void(0)" class="btn pdl bgcg" (click)="addChannel()">添加</a>
          <a href="javascript:void(0)" class="btn pdl bgcg" onclick="document.getElementById('file').click()">导入</a>
          <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" accept=".xlsx" (change)="selectedFileOnChanged($event)"/>
          <a href="javascript:void(0)" class="btn downExcel bgcg" (click)="download()">下载模板</a>
          <a href="javascript:void(0)" class="btn pdl bgcg" (click)="dia()">删除</a>
        </div>
      <div class="channelList">
        <table class="channelTable" cellspacing="0">
          <tr>
            <th class="checked">
              <img src="../assets/appdetail/way.manage/unchecked.png" *ngIf="allFlag==false" class="middle pad" (click)="allSel()"/>
              <img src="../assets/appdetail/way.manage/checked.png" *ngIf="allFlag==true" class="middle pad" (click)="allSel()"/>
            </th>
            <th class="order pad">画面顺序</th>
            <th class="name pad">通道名称</th>
            <th class="channelAddr pad">通道地址</th>
            <th class="protocol pad">协议</th>
            <th class="switch pad">
              <span class="middle">开启状态</span>
              <img src="../assets/appdetail/way.manage/init.png" class="middle" *ngIf="order==0" (click)="sortByType()"/>
              <img src="../assets/appdetail/way.manage/shang.png" class="middle" *ngIf="order==1" (click)="sortByType()"/>
              <img src="../assets/appdetail/way.manage/xia.png" class="middle" *ngIf="order==2" (click)="sortByType()"/>
            </th>
            <th class="operation pad">操作</th>
          </tr>
          <tr *ngFor="let item of channelInfo let i=index;">
            <td>
              <img src="../assets/appdetail/way.manage/unchecked.png" class="middle pad" (click)="check(item)" *ngIf="item.flag!=1"/>
              <img src="../assets/appdetail/way.manage/checked.png" class="middle pad" (click)="check(item)" *ngIf="item.flag==1"/>
            </td>
            <td class="pad">{{item.channelOrder}}</td>
            <td class="pad">{{item.channelName}}</td>
            <td class="pad">{{item.channelAddress}}</td>
            <td class="pad">{{item.channelProtocol}}</td>
            <td class="pad">{{output(item.channelStatus)}}</td>
            <td class="operation pad">
              <a class="operationBtn stop" *ngIf="item.channelStatus==0" (click)="runChannel(item)"></a>
              <a class="operationBtn start" *ngIf="item.channelStatus==1" (click)="runChannel(item)"></a>
              <a class="operationBtn edit" *ngIf="item.channelStatus==0" (click)="edit(item)"></a>
              <a class="operationBtn unedit" *ngIf="item.channelStatus==1" (click)="edit(item)"></a>
              <a class="operationBtn up" (click)="dirRecord(item.channelId,1)" *ngIf="i!=0"></a>
              <a class="operationBtn down" (click)="dirRecord(item.channelId,2)" *ngIf="i!=channelInfo.length-1"></a>
            </td>
          </tr>
        </table>
        <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      </div>
    </div>
  </div>
  <div class="dialog" [style.display]="addDialog==1?'':'none'">
    <div class="dialogContainer addDialogContainer">
      <div class="dialogHeader">
        <span>{{popup_title}}</span>
      </div>
      <div class="dialogContent">
        <div class="info">
          <label>通道名称：</label>
          <input type="text" name="chanName" [(ngModel)]="chanName"/>
          <span class="must" [style.display]="chanRequired1==1?'':'none'">必填字段</span>
        </div>
        <div class="info">
          <label>通道地址：</label>
          <input type="text" name="chanAddr" [(ngModel)]="chanAddr"/>
          <span class="must" [style.display]="chanRequired2==1?'':'none'">必填字段</span>
        </div>
        <div class="info">
          <label>通道协议：</label>
          <select [(ngModel)]="protocol" (ngModelChange)="protocol=$event;">
            <option value="{{i}}" *ngFor="let i of protocols">{{i}}</option>
          </select>
        </div>
        <div class="info">
          <label>通道类型：</label>
          <select [(ngModel)]="channelType" (ngModelChange)="channelType=$event;">
            <option value="{{i}}" *ngFor="let i of channelTypes">{{i}}</option>
          </select>
        </div>
        <div class="info">
          <label>视频地址：</label>
          <input type="text" name="videoAddress" [(ngModel)]="videoAddress"/>
        </div>
        <div class="info">
          <label>是否开启：</label>
          <span class="radio">
            <img src="../assets/appdetail/way.manage/unradio.png" class="middle" *ngIf="radioIndex!=1" (click)="radio(1)"/>
            <img src="../assets/appdetail/way.manage/radio.png" class="middle" *ngIf="radioIndex==1" (click)="radio(1)"/><span class="middle fontSize">开启</span>
            <img src="../assets/appdetail/way.manage/unradio.png" class="middle" *ngIf="radioIndex!=0" (click)="radio(0)" style="margin-left: 20px"/>
            <img src="../assets/appdetail/way.manage/radio.png" class="middle" *ngIf="radioIndex==0" (click)="radio(0)" style="margin-left: 20px"/><span class="middle fontSize">关闭</span>
          </span>
        </div>
        <div class="infoBtn">
          <a href="javascript:void(0)" class="btn bgco" style="margin-left: 28px" (click)="create()" [style.display]="btnIndex==0?'':'none'">创建</a>
          <a href="javascript:void(0)" class="btn bgco" style="margin-left: 28px" (click)="editSave()" [style.display]="btnIndex==1?'':'none'">保存</a>
          <a href="javascript:void(0)" class="btn bgcg" style="margin-left: 28px" (click)="cancel()">取消</a>
        </div>
      </div>
    </div>
  </div>
  <app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn" (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
  <div class="dialog" [style.display]="delSysDialog==1?'':'none'">
    <div class="dialogContainer addDialogContainer">
      <div class="dialogHeader">
        <span>系统信息</span>
      </div>
      <div class="dialogContent" style="text-align: center">
        <img src="../assets/appdetail/way.manage/warnning.png" class="middle"/>
        <span class="middle" style="padding-left: 10px">对不起，通道开启中，不可删除！</span>
      </div>
      <div class="delSys">
        <a href="javascript:void(0)" class="btn bgcg" (click)="cancel()">确定</a>
      </div>
    </div>
  </div>
  <div class="dialog" [style.display]="delDialog==1?'':'none'">
    <div class="dialogContainer addDialogContainer">
      <div class="dialogHeader">
        <span>删除</span>
      </div>
      <div class="dialogContent" style="text-align: center">
        <img src="../assets/appdetail/way.manage/warnning.png" class="middle"/>
        <span class="middle" style="padding-left: 10px">删除所选通道？</span>
      </div>
      <div class="delSys">
        <a href="javascript:void(0)" class="btn bgcg" (click)="delete()">确定</a>
        <a href="javascript:void(0)" class="btn bgcg" (click)="cancel()" style="margin-left: 16px">取消</a>
      </div>
    </div>
  </div>
</div>
