<div class="container">
  <div class="appManage">
    <h3>新建应用</h3>
    <div class="createLeft">
      <form>
        <div>
          <label>*应用名称:</label>
          <input type="text" required/>
        </div>
        <div>
          <label>*应用类别:</label>
          <select>
            <option></option>
          </select>
        </div>
        <div>
          <label>*应用名称:</label>
          <input type="text" required/>
        </div>
        <div>
          <label>*应用名称:</label>
          <input type="text" required/>
        </div>
      </form>
    </div>
    <div class="createRight">

    </div>
  </div>
</div>
