.video-wrapper{
  position: fixed;
  top: 120px;
  bottom: 0;
  right: 0;
  left: 9%;
  display: flex;
}
.video-wrapper .analysis-popup {
  position: absolute;
  box-sizing: border-box;
  /*padding: 26px 30px 26px 28px;*/
  /*min-width: 150px;
  min-height: 100px;
  max-height: 500px;*/
  top: 0px;
  left: 39px;
  width:186px;
  /*border-radius: 8px;*/
  background: #fff;
  border: 1px solid #eeece8;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .156863), 1px 2px 3px rgba(0, 0, 0, .227451);
}
.analysis-popup .scroll-wrapper {
  box-sizing: border-box;
  padding: 26px 0 10px 0;
  min-width: 150px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 450px;
  overflow: auto;
}
.analysis-popup .popup-item {
  margin-top: 20px;
}
.analysis-popup .popup-item.all {
  margin-top: 0;
  padding-left: 20px;
}
.feature-people{
  position: absolute;
  background: #fff;
  top:0;
  left:225px;
  z-index: 66666;
}
.noBorder{
  border:none !important;
}
.feature-content{
  margin: 20px 20px 10px 20px;
  border-bottom:1px solid #d3d3d3;
}
.feature-content label{
  font-size: 12px;
  color: #666666;
  display: inline-block;
  width:60px;
  text-align: right;
}
.feature-input input{
  border:1px solid #d3d3d3;
  border-radius: 3px;
  padding-left: 8px;
  font-size: 12px;
  color: #666666;
  height:26px;
  width:172px;
}
.feature-input label{
  line-height: 26px;
  height:26px;
}
.feature-input{
  margin-bottom: 12px;
}
.feature-input span{
  display: inline-block;
  color: #fe1c1c;
  font-size: 12px;
}
.feature-footer{
  font-size: 12px;
  color:#bf533a;
  margin-left: 20px;
  margin-bottom: 20px;
 }
.feature-upload{
  width:257px;
  margin-bottom: 10px;
}
.feature-upload label{
  height:26px;
  line-height: 26px;
  vertical-align: top;
}
.feature-upload img{
  display: inline-block;
}
.overHeight{
  overflow: scroll;
}
.feature-photo{
  width:38px;
  height:38px;
  display: inline-block;
}
.feature-del{
  position: absolute;
  top:0;
  right:0;
}
.feature-show{
  display: inline-block;
  width:192px;
}
.feature-showPhoto{
  display: inline-block;
  vertical-align: middle;
}
.feature-showPhoto span{
  position: relative;
  display: inline-block;
  margin-right: 10px;
  height:38px;
  width:38px;
}
.addPhoto{
  vertical-align: top;
  margin-top: 8px;
}
.feature-input img{
  display: inline-block;
  vertical-align: middle;
}
#file{
  display: none;
}
.classification{
  display: block;
  margin-bottom: 20px;
  padding-left: 20px;
}

.level{
  height:42px;
  line-height: 42px;
  padding:0 30px 0 20px;
  margin-bottom: 10px;
}
.focusColor{
  background: #e5e5e5;
}
.levelOne .levelOne-label{
  margin-left: 32px;
  color: #555555;
}
.middle{
  display: inline-block;
  vertical-align: middle;
}
.levelOne img{
  margin-left: 4px;
}
.level-text{
  color: #333;
  font-size: 14px;
}
.levelTwo{
  padding-left: 54px;
  height:32px;
  line-height: 32px;
}
.levelTwo label{
  color: #666666;
  padding-left:6px;
}
.analysis-popup .popup-item .popup-title {
  vertical-align: top;
  margin-left: 10px;
  color: #333;
  font-size: 14px;
}
.analysis-popup .popup-item img {
  cursor: pointer;
}

.analysis-submit-wrapper {
  width: 100%;
  height: 46px;
  border-top: 1px solid #eeece8;
  bottom: 0px;
  left: 0px;
  background: #f6f6f6;
  border-radius: 8px;
}
.analysis-submit-wrapper .submit-btn {
  height: 26px;
  width: 60%;
  line-height: 26px;
  margin: 10px auto;
  text-align: center;
  background: #38af8b;
  color: #fff;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
}
.analysis-submit-wrapper .submit-btn:hover{
  background: #24a880;
}
.left-bar {
  height: 100%;
  flex: 0 0 38px;
  text-align: center;
  border-left: 1px solid #999;
  background: #212121;
}
.left-bar img {
  width: 19px;
  margin-top: 11px;
  cursor: pointer;
}
.left-bar .divider {
  width: 50%;
  border-bottom: 1px solid #999;
  margin-left: 25%;
  margin-top: 6px;
}
.right-content {
  display: flex;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
}
.player-item {
  position: relative;
  background: #313131;
  transition: all 0.2s;
  box-sizing: border-box;
  border: 3px solid #313131;
  overflow: hidden;
}
.player-item .item-title {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #efefef;
  z-index: 3;
}
.player-item .item-fullscreen {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
}
.player-item .item-switch {
  position: absolute;
  bottom: 18px;
  right: 55px;
  z-index: 3;
  cursor: pointer;
}
.player-item.fullscreen {
  position: absolute;
  top: 16px !important;
  left: 16px !important;
  bottom: 16px !important;
  right: 16px !important;
  height: auto !important;
  width: auto !important;
  z-index: 4;
  border: none !important;
}
.player-item.fullscreen .item-switch {
  bottom: 18px !important;
  right: 54px !important;
}
.player-item.fullscreen .item-fullscreen {
  bottom: 20px !important;
  right: 20px !important;
}
.player-item .item-screenshot {
  position: absolute;
  bottom: 17px;
  right: 90px;
  z-index: 3;
  cursor: pointer;
}
/* 一格布局 */
.player-item.grid1 {
  flex: 0 0 100%;
  height: 100%;
}
/* 四格布局 */
.player-item.grid4 {
  flex: 0 0 49.9%;
  height: 49.85%;
}
.player-item.grid4 .item-title {
  top: 15px;
  right: 15px;
  font-size: 22px;
}

.player-item.grid4 .item-fullscreen {
  bottom: 15px;
  right: 15px;
}
.player-item.grid4 .item-switch {
  bottom: 14px;
  right: 50px;
}
/* 六格布局 */
.player-item.grid6 {
  flex: 0 0 33.17%;
  height: 33.1%;
}
.player-item.grid6.index1 {
  flex: 0 0 66.62%;
  height: 66.57%;
}
.player-item.grid6.index3 {
  float: none;
  position: absolute;
  right: 16px;
}
.player-item.grid6 .item-title {
  top: 10px;
  right: 10px;
  font-size: 19px;
}
.player-item.grid6.index1 .item-title {
  top: 10px;
  right: 15px;
  font-size: 22px;
}
.player-item.grid6 .item-fullscreen {
  bottom: 10px;
  right: 10px;
}
.player-item.grid6 .item-switch {
  bottom: 9px;
  right: 45px;
}
.item-add-video {
  position: absolute;
  width: 107px;
  height: 107px;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.player-item.grid6.index1 .item-switch {
  bottom: 12px;
  right: 55px;
}
.player-item.grid6.index1 .item-fullscreen {
  bottom: 15px;
  right: 15px;
}
/* 八格布局 */
.player-item.grid8 {
  flex: 0 0 24.78%;
  height: 24.77%;
}
.player-item.grid8.index1 {
  flex: 0 0 74.9%;
  height: 74.75%;
}

.player-item.grid8 .item-title {
  top: 10px;
  right: 10px;
  font-size: 19px;
}
.player-item.grid8.index1 .item-title {
  top: 10px;
  right: 15px;
  font-size: 22px;
}
.player-item.grid8.index3 , .player-item.grid8.index4{
  float: none;
  position: absolute;
  right: 16px;
}
.player-item.grid8 .item-fullscreen {
  bottom: 10px;
  right: 10px;
}
.player-item.grid8 .item-switch {
  bottom: 9px;
  right: 40px;
}
.player-item.grid8.index1 .item-switch {
  bottom: 13px;
  right: 55px;
}
.player-item.grid8.index1 .item-fullscreen {
  bottom: 15px;
  right: 15px;
}
/* 九格布局 */
.player-item.grid9 {
  flex: 0 0 33.2%;
  height: 33.1%;
}
.player-item.grid9 .item-title {
  top: 10px;
  right: 10px;
  font-size: 19px;
}
.player-item.grid9 .item-fullscreen {
  bottom: 10px;
  right: 10px;
}
.player-item.grid9 .item-switch {
  bottom: 9px;
  right: 40px;
}

/*.player-item .ck-player {
  height: 110%;
}*/
/**/
/*.player-item:hover {
  border: 3px solid #23a880
}*/


.dialog{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(111, 111, 111, 0.3);
  opacity: 1;
}
.dialogContainer{
  position: absolute;
  width: 800px;
  height:auto;
  top: 80px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  color: #FFF;
  border-radius: 5px;
  border:1px solid #ccc;
  -webkit-box-shadow:0 0 10px #999999;
  -moz-box-shadow:0 0 10px #999999;
  box-shadow:0 0 10px #999999;
}
.addDialogContainer{
  top:50%;
  width:506px;
  left:50%;
  margin-left: -253px;
  margin-top: -195px;
  font-size: 14px;
}
.dialogHeader{
  background: #eeeeee;
  color: #333333;
  border-top-left-radius :5px;
  border-top-right-radius:5px;
}
.dialogHeader,.dialogContent{
  position: relative;
  color: #333333;
  left:0;
}
.dialogHeader span{
  display: block;
  height:40px;
  line-height: 40px;
  padding-left: 34px;
  margin-bottom: 42px;
}
.span{
  display: block;
  height:40px;
  font-size: 18px;
  padding-top: 20px;
}
.dialogContent{
  padding-left: 34px;
}
.dialogContent .info{
  margin-bottom: 24px;
}
.dialogContent .info input,.dialogContent .info select{
  width:280px;
  height:30px;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  margin-left: 32px;
  text-indent: 6px;
  color: #333333;
  box-sizing: border-box;
}
.dialogContent .info select{
  background: url("../../../../assets/appdetail/way.manage/selectDown.png") no-repeat right 6px center;
  color: #666666;
  height:34px !important;
}
.infoBtn{
  padding-top: 26px;
  padding-left: 80px;
  padding-bottom: 28px;
}

.radio{
  display: inline-block;
  padding-left: 34px;
  font-size: 0px;
}
.radio img{
  margin-right: 10px;
}
.fontSize{
  font-size: 14px;
}
.middle{
  display: inline-block;
  vertical-align: middle;
}
.delSys{
  text-align: center;
  padding:50px 0 42px;
}
.bgco{
  color: #ffffff;
  background: #ff7c35;
}
.bgcg{
  color: #333333;
  background: #eeeeee;
}
.btn{
  display: inline-block;
  font-size: 14px;
  width:80px;
  height:30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 8px;
}
select option{
  padding-left: 8px;
}
input{
  outline: none;
  padding-left: 8px;
}
