.video-wrapper{
  position: fixed;
  top: 120px;
  bottom: 0;
  right: 0;
  left: 9%;
  display: flex;
}
.video-wrapper .analysis-popup {
  position: absolute;
  box-sizing: border-box;
  padding: 26px 30px 26px 28px;
  min-width: 150px;
  min-height: 100px;
  max-height: 500px;
  overflow: auto;
  top: 0px;
  left: 39px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #eeece8;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .156863), 1px 2px 3px rgba(0, 0, 0, .227451);
}
.analysis-popup .popup-item {
  margin-top: 20px;
}
.analysis-popup .popup-item.all {
  margin-top: 0;
}
.analysis-popup .popup-item .popup-title {
  vertical-align: top;
  margin-left: 20px;
  color: #333;
  font-size: 14px;
}
.analysis-popup .popup-item img {
  cursor: pointer;
}
.left-bar {
  height: 100%;
  flex: 0 0 38px;
  text-align: center;
  border-left: 1px solid #999;
  background: #212121;
}
.left-bar img {
  width: 19px;
  margin-top: 11px;
  cursor: pointer;
}
.left-bar .divider {
  width: 50%;
  border-bottom: 1px solid #999;
  margin-left: 25%;
  margin-top: 6px;
}
.right-content {
  display: flex;
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
}
.player-item {
  position: relative;
  background: #313131;
  transition: all 0.2s;
  box-sizing: border-box;
  border: 3px solid #313131;
  overflow: hidden;
}
.player-item .item-title {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #efefef;
  z-index: 3;
}
.player-item .item-fullscreen {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  cursor: pointer;
}
.player-item.fullscreen {
  position: absolute;
  top: 16px !important;
  left: 16px !important;
  bottom: 16px !important;
  right: 16px !important;
  height: auto !important;
  width: auto !important;
  z-index: 4;
  border: none !important;
}
.player-item.fullscreen .item-fullscreen {
  bottom: 20px !important;
  right: 20px !important;
}
.player-item .item-screenshot {
  position: absolute;
  bottom: 17px;
  right: 55px;
  z-index: 3;
  cursor: pointer;
}
/* 一格布局 */
.player-item.grid1 {
  flex: 0 0 100%;
  height: 100%;
}
/* 四格布局 */
.player-item.grid4 {
  flex: 0 0 49.9%;
  height: 49.85%;
}
.player-item.grid4 .item-title {
  top: 15px;
  right: 15px;
  font-size: 22px;
}
.player-item.grid4 .item-fullscreen {
  bottom: 15px;
  right: 15px;
}
/* 六格布局 */
.player-item.grid6 {
  flex: 0 0 33.17%;
  height: 33.1%;
}
.player-item.grid6.index1 {
  flex: 0 0 66.62%;
  height: 66.57%;
}
.player-item.grid6.index3 {
  float: none;
  position: absolute;
  right: 16px;
}
.player-item.grid6 .item-title {
  top: 10px;
  right: 10px;
  font-size: 19px;
}
.player-item.grid6.index1 .item-title {
  top: 10px;
  right: 15px;
  font-size: 22px;
}
.player-item.grid6 .item-fullscreen {
  bottom: 10px;
  right: 10px;
}
.player-item.grid6.index1 .item-fullscreen {
  bottom: 15px;
  right: 15px;
}
/* 八格布局 */
.player-item.grid8 {
  flex: 0 0 24.78%;
  height: 24.77%;
}
.player-item.grid8.index1 {
  flex: 0 0 74.9%;
  height: 74.75%;
}

.player-item.grid8 .item-title {
  top: 10px;
  right: 10px;
  font-size: 19px;
}
.player-item.grid8.index1 .item-title {
  top: 10px;
  right: 15px;
  font-size: 22px;
}
.player-item.grid8.index3 , .player-item.grid8.index4{
  float: none;
  position: absolute;
  right: 16px;
}
.player-item.grid8 .item-fullscreen {
  bottom: 10px;
  right: 10px;
}
.player-item.grid8.index1 .item-fullscreen {
  bottom: 15px;
  right: 15px;
}
/* 九格布局 */
.player-item.grid9 {
  flex: 0 0 33.2%;
  height: 33.1%;
}
.player-item.grid9 .item-title {
  top: 10px;
  right: 10px;
  font-size: 19px;
}
.player-item.grid9 .item-fullscreen {
  bottom: 10px;
  right: 10px;
}

/*.player-item .ck-player {
  height: 110%;
}*/
/**/
/*.player-item:hover {
  border: 3px solid #23a880
}*/


