*{
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei";
}

.bodyContainer{
    background: #FFFFFF !important;
}
.bodyContainer .bodyContent{
  position: absolute;
  top:96px;
  bottom:0;
  left:0;
  right:0;
	width:100%;
	margin: 0 auto;
  background: #FFFFFF;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
    overflow: hidden;
    border-bottom:1px solid #e5e5e5 ;
}
.logo{
    margin-top: 14px;
    float: left;
    margin-left: 12%;
}
.title{
    color: #333333;
    float: left;
    margin-left: 24%;
    font-size: 24px;
    height:95px;
    line-height: 95px;
}

ul, ol {
  padding: 0px;
}
.banner {
  position: absolute;
  width: 70%;
  /*background: url("../assets/login/banner_bg.png") no-repeat;*/
 /* width:780px;*/
  height:566px;
/*  top:210px;*/
}
.banner li{
  list-style: none;
}
.banner ul li {
  float: left;
}
#b03 {
   width:700px !important;
  /* max-width: 1000px;*/
   height:510px;
   left:34%;
  /* top: 50%;*/
   color: #eeeeee;
   float: left;
   margin-left:-390px;
   /*margin-top: -278px;*/
}
.scene img{
  width:100%;
  height:510px;
  margin:0 auto;
  display: block;
}
.dots {
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 50%;
    margin-left: -82px;
}

.dots li{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

/*#b03 .dots li .active{
   background: #ffffff;
   opacity: 1;
}
.scene{
 height:465px;
 width: 100%;
}
.scene h4{
   font-family: "Microsoft YaHei";
   color: #eeeeee;
   font-size: 1.8rem;
   margin-top: 46px;
   margin-bottom:46px;
   text-align: center;
   letter-spacing:2px;
}
.scene p{
   text-indent:50px;
   font-family: "Microsoft YaHei";
   color: #eeeeee;
   font-size: 1.4rem;
   padding-left: 40px;
   padding-right: 40px;
   letter-spacing:2px;
   line-height:180%;
}*/
.main{
    /*width: 100%;*/
    width:30%;
    font-family: "Microsoft YaHei";
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -248px;
    width: 339px;
    height:488px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
}
.main h5{
    color: #333333;
    margin-top: 34px;
  margin-bottom: 72px;
    font-size: 24px;
    text-align: center;
}
.main form{
    width: 284px;
    height:450px;
    font-size:12px;
    margin: 0 auto;
}
/*.content{
    position: absolute;
    top:54px;
    width: 339px;
    height:450px;

}

.main .center{
    position: absolute;
    top:54px;
    width: 339px;
    height:450px;
    font-size:14px;
    border-radius: 8px;
}


.center p{
    font-family: "Microsoft YaHei";
    color: #ffffff;
    font-size: 16px;
    margin-left:40px;

}
.center .p1{
    margin-top:36px;

}*/
.remember label{
    display: inline-block;
    width:12px;
    height:12px;
}

.user{
    margin: 0px auto 26px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}
.user span,.pass span{
    display: inline-block;
    float: left;
}
.user span img,.pass span img{
    padding: 10px;
    width:20px;
    height:20px;
}
#username,#password{
    float: left;
    margin-top:5px;
    outline: none !important;
}
#username:focus,#password:focus{
  border-left:1px solid #e5e5e5 !important;
  border-right:none !important;
  border-top:none !important;
  border-bottom:none !important;
}
.pass{
    margin-bottom: 36px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}
input{
	text-indent: 10px;
    width: 234px;
    height: 30px;
    font-family: "Microsoft YaHei";
    color: #aeaeae;
   /* margin-left: 40px;
    border-radius: 8px;*/
   /* margin: auto;*/
    /*opacity: 1;*/
    outline:none;
    border: 1px solid rgba(239, 239, 239, 0.15);
    border-left: 1px solid #e5e5e5;
    font-size: 12px;

/*    margin-top: 15px;
    margin-bottom: 15px;*/
}
.yzm{
    overflow: hidden;
    margin-bottom: 34px;
}
#surePwd{
    float: left;
    width:150px;
    height:40px;
    margin-top: 0;
    border: 1px solid #e5e5e5;
}
#code{
    float: right;
    width:96px;
    height:38px;
    padding-left: 6px;
    padding-right: 4px;
    color: #000 !important;
    border: 1px solid #e5e5e5;
}
#submit{
    width: 284px;
    height: 40px;
    background-color: #fe7d34;
    font-weight: bolder;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 6px;

}
.forget{
    overflow: hidden;
    color:#fe7d34 ;
    font-size: 14px;
    margin-top: 24px;
  margin-bottom: 36px;
}
.remember{
    float: left;

}
.remember input{
    width:15px;
    height:15px;
    position: relative;
    top:3px;
    display: none;
}
.remember img{
    display: inline-block;
}
.remember span{
    display: inline-block;
    padding-left: 4px;

}
.forgetPass{
    display: inline-block;
    float: right;
    color:#fe7d34 ;
    text-decoration: none;
}
/*.center #code{
    position: absolute;
    width: 90px;
    height: 35px;
    margin-left: 40px;
    border: 1px solid rgba(239, 239, 239, 0.15);
    background-color: #ffffff;
    text-align: center;
}
.center #change{
    background: transparent;
    border: none;
    position: absolute;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    font-size: 13px;
    margin-left: 200px;
    margin-top: 15px;
    cursor: pointer;
}
#submit{
    width: 253px;
    height: 35px;
    margin-top: 60px;
    margin-left: 40px;
    border-radius: 8px;
    background-color: #5d3fbe;
    font-weight: bolder;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}
*/
/*#code{
    background-image: url('assets/login/bg_sure.jpg');
    background-size: cover;
    font-family:"BasemicNew";
    font-style:italic;
    color:blue;
    font-size:24px;
    border:0;
    padding:1px 1px;
    letter-spacing:1.3px;

    float:left;
    cursor:pointer;

    line-height:30px;
    text-align:center;
    vertical-align:middle;
}
.center #change:active{

    color: #00ffff;

}
*/
@media (min-width:1200px) and (max-width:1340px) {
    .main{
        margin-right: -5%;
    }
}

