<div class="container">
  <div class="appManage" [style.display]="createApp=='manage'?'':'none'">
    <h3>应用管理</h3>
    <div class="createBtn" (click)="createJob()"> <a href="javascript:void(0)"  class="back"><img src="../assets/appmanage/jiahao.png" class="addicon" alt="">新建应用</a></div>
    <div class="appBody">
      <div class="appModel" *ngFor="let item of appManageInfo">
        <div class="appModel_header">
          <img src="../assets/appmanage/tupian.png"/>
          <span>{{item.applicationName}}</span>
        </div>
        <table class="appModel_content">
          <tr>
            <td>APIkey:</td>
            <td>420a5932a8a0f</td>
          </tr>
          <tr>
            <td>Master Secret:</td>
            <td>df7f78f9e2c8c</td>
          </tr>
          <tr>
            <td>创建时间:</td>
            <td>{{item.createTime}}</td>
          </tr>
        </table>
        <ul class="option">
          <li><a href="javascript:void(0)">暂停</a></li>
          <li><a href="javascript:void(0)" (click)="update(item.applicationId,item.applicationName,item.createTime)">修改</a></li>
          <li><a href="javascript:void(0)" (click)="dia(item.applicationId)">删除</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 删除弹框 -->
  <div class="dialog" [style.display]="showDialog==1?'':'none'">
    <div class="dialogContainer delDialogContainer">
      <div class="dialogHeader">
        <span style="margin-left: 140px">删除用户</span>
      </div>
      <div class="dialogContent" style="margin-left: 80px">
        <p style="margin-left: 30px">确定要删除此用户吗？</p>
        <a href="javascript:void(0)" class="btn1 marg" (click)="delete()">确定</a>
        <a href="javascript:void(0)" class="btn1 marg" (click)="cancelDel()">取消</a>
      </div>
    </div>
  </div>
  <div class="appManage" [style.display]="createApp=='create'?'':'none'">
      <h3>新建应用</h3>
      <div class="createLeft">
        <form>
          <div class="createInfo">
            <label><span class="symbol">*</span>应用名称:</label>
            <input type="text" required="required" name="appName" [(ngModel)]="appName"/>
            <span class="must" [style.display]="required==1?'':'none'">必填字段</span>
          </div>
          <div class="createInfo">
            <label><span class="symbol">*</span>应用类别:</label>
            <select>
              <option></option>
            </select>
          </div>
          <div class="createInfo">
            <label><span class="symbol">*</span>场景选择:</label>
            <input type="text" required class="sceneInput" id="sceneInput" (click)="buyScene()" readonly name="sceneGather" [(ngModel)]="sceneGather"/>
          </div>
          <div class="createInfo" style="height: 70px;">
            <label style="float: left"><span class="symbol">*</span>终端平台:</label>
            <ul class="checkSystem">
              <li  *ngFor="let sy of systemArr">
                <a class="unselected" href="javascript:void(0)"(click)="check(sy)" [ngClass]="{selected: sy.flag==1}">
                  <img src="../assets/appmanage/check.png" [style.display]="!sy.flag||sy.flag==2?'none':''"/>
                  <span>{{sy.name}}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="createInfo">
            <label><span class="symbol">*</span>应用包名:</label>
            <input type="text" required/>
          </div>
          <div class="createInfo">
            <label style="float: left"><span class="symbol">*</span>应用描述:</label>
            <div class="tip">
            <textarea maxlength="200"></textarea>
              <p>不超过200字</p>
            </div>
          </div>
          <div class="btn">
            <a href="javascript:void(0)"  class="crtBtn" (click)="create()" [style.display]="btnIndex==0?'':'none'">创建</a>
            <a href="javascript:void(0)"  class="crtBtn" (click)="updateSave()" [style.display]="btnIndex==1?'':'none'">保存</a>
            <a href="javascript:void(0)" class="backBtn" (click)="back()">返回</a>
          </div>
        </form>
      </div>
      <div class="createRight" [style.display]="scene==1?'':'none'">
        <div>
          <h4>已购场景</h4>
          <div class="sceneContent">
            <div class="scene">
              <span *ngFor="let item of sceneArr">
                <!--<input type="checkbox"/>-->
                <img src="../assets/appmanage/unchecked.png" (click)="check(item)" *ngIf="!item.flag||item.flag==2"/>
                <img src="../assets/appmanage/checked.png" (click)="check(item)" *ngIf="item.flag==1"/>
                <a>{{item.name}}</a>
              </span>
            </div>
            <div class="sceneBtn">
              <a href="javascript:void(0)" class="backBtn bt" (click)="sureScene()">确定</a>
              <a href="javascript:void(0)" class="backBtn bt bt1" (click)="goBack()">返回</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
