<div class="container-no-nav">
  <div class="header top">
    <!--<img src="../assets/appmanage/home.png" class="home" (click)="gotoAppmanage()" />
    <span class="xian">&nbsp;</span>
    <h3>应用管理</h3>
    <div class="createBtn" (click)="createJob()" [style.display]="createApp=='create'?'none':''"> <a href="javascript:void(0)"  class="back"><img src="../assets/appmanage/jiahao.png" class="addicon" alt="">新建应用</a></div>-->

    <img class="home" (click)="gotoAppmanage()" src="../../../assets/appdetail/way.manage/home.png" />
    <div class="info">
      <label class="divider">|</label>
      <label class="title">应用管理</label>
    </div>
    <div class="createBtn" (click)="createJob()" [style.display]="createApp=='create'?'none':''"> <a href="javascript:void(0)"  class="back">新建应用</a></div>
  </div>
  <div class="appManage" [style.display]="createApp=='manage'?'':'none'">
    <div class="appBody">
      <div class="app">
        <div class="topSpace"></div>
      <div class="appModel" *ngFor="let item of appManageInfo">
        <div *ngIf="item.applicationType=='实时流分析'">
        <div class="appModel_header" >
          <img src="../assets/appmanage/shipin.png" class="icon"/>
          <span class="index_title" title="{{item.applicationName}}" *ngIf="item.flag==undefined||item.flag!=1">{{item.applicationName}}</span>
          <input type="text" value={{item.applicationName}} class="index_editTitle" *ngIf="item.flag==1" (blur)="updateName(item)" name="appName" [(ngModel)]="appName"/>
          <span class="index_operation">
            <img src="../assets/appmanage/xiugai.png" class="edit" (click)="editTitle(item)" *ngIf="item.flag==undefined||item.flag!=1"/>
            <img src="../assets/appmanage/shouyexiugai.png" class="edit" *ngIf="item.flag==1"/>
            <img src="../assets/appmanage/shanchu.png"/>
          </span>
        </div>
        <table class="appModel_content" routerLinkActive="active" routerLink="/videoanalysis" (click)="jump(item)">
          <tr>
            <td class="one">已建通道</td>
            <td class="two">8</td>
          </tr>
          <tr>
            <td class="one">已开通道</td>
            <td class="two">10</td>
          </tr>
          <tr>
            <td class="one">系统告警</td>
            <td class="two">4</td>
          </tr>
          <tr>
            <td class="one">待处理告警</td>
            <td class="two">10</td>
          </tr>
        </table>
        </div>
        <div *ngIf="item.applicationType=='离线文件分析'">
          <div class="appModel_header" >
            <img src="../assets/appmanage/wenben.png" class="icon"/>
            <span class="index_title" title="{{item.applicationName}}" *ngIf="item.flag==undefined||item.flag!=1">{{item.applicationName}}</span>
            <input type="text" value={{item.applicationName}} class="index_editTitle" *ngIf="item.flag==1" (blur)="updateName(item)" name="appName" [(ngModel)]="appName"/>
            <span class="index_operation">
            <img src="../assets/appmanage/xiugai.png" class="edit" (click)="editTitle(item)" *ngIf="item.flag==undefined||item.flag!=1"/>
            <img src="../assets/appmanage/shouyexiugai.png" class="edit" *ngIf="item.flag==1"/>
            <img src="../assets/appmanage/shanchu.png"/>
          </span>
          </div>
          <table class="appModel_content">
            <tr>
              <td class="one">总任务数</td>
              <td class="two" routerLinkActive="active" routerLink="/taskmanage">10</td>
            </tr>
            <tr>
              <td class="one">已完成任务</td>
              <td class="two">10</td>
            </tr>
            <tr>
              <td class="one">系统告警</td>
              <td class="two">10</td>
            </tr>
            <tr>
              <td class="one">待处理告警</td>
              <td class="two">10</td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </div>



  <div class="appManage" [style.display]="createApp=='create'?'':'none'">
      <h3 [style.display]="btnIndex==0?'':'none'">新建应用</h3>
      <h3 [style.display]="btnIndex==1?'':'none'">修改应用</h3>
      <div class="createLeft">
        <div class="form">
          <div class="createInfo">
            <label><span class="symbol">*</span>项目名称：</label>
            <input type="text" name="appName" [(ngModel)]="appName"/>
            <span class="must" [style.display]="required==1?'':'none'">必填字段</span>
          </div>
          <div class="createInfo">
            <label><span class="symbol" style="line-height: 36px">*</span>项目类别：</label>
            <select [(ngModel)]="appCate" (ngModelChange)="appCate=$event;categoryChange()">
              <option value="{{i}}" *ngFor="let i of appCates">{{i}}</option>
            </select>
          </div>
<!--          <div class="createInfo" style="height: 68px">
            <label style="float: left;line-height: 68px"><span class="symbol">&nbsp;&nbsp;</span>应用图标：</label>
            <div class="image" onclick="document.getElementById('file').click()">
              <input type="file" id="file" name="file" multiple ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
              <img src="" id="image" *ngIf="btnIndex==0"/>
              <img src="{{SERVER_URL}}/api/file?filePath={{this.icon}}" *ngIf="btnIndex==1" style="width: 68px; height: 68px;" id="updateImage"/>
            </div>
          </div>-->
          <div class="createInfo" style="height: auto" [style.display]="channel==0?'':'none'">
            <label style="line-height: 36px">通道配置：</label>
            <span class="radio">
              <span class="input">
                <img src="../assets/appdetail/way.manage/unradio.png" class="middle" *ngIf="radioIndex!=1" (click)="radio(1)"/>
                <img src="../assets/appdetail/way.manage/radio.png" class="middle" *ngIf="radioIndex==1" (click)="radio(1)"/><label>输入通道</label>
              </span>
              <span class="import">
                <img src="../assets/appdetail/way.manage/unradio.png" class="middle" *ngIf="radioIndex!=0" (click)="radio(0)"/>
                <img src="../assets/appdetail/way.manage/radio.png" class="middle" *ngIf="radioIndex==0" (click)="radio(0)"/><label>导入通道</label>
              </span>
            </span>
            <div class="channel" [style.display]="excel==1?'':'none'">
              <div class="channelContent" *ngIf="arr.length==0">
                <img src="../assets/appmanage/addChannel.png" (click)="add()" style="vertical-align: middle"/>
              </div>
              <div class="channelContent" [style.display]="arr.length>0" *ngFor="let item of arr let i=index">
                <span>通道名称</span><input type="text" name="channelName" [(ngModel)]="item.channelName"/><span class="must marginLeft" *ngIf="item.flag==1">必填字段</span>
                <span class="marginLeft">地址</span><input type="text" name="channelAddress" [(ngModel)]="item.channelAddress"/><span class="must marginLeft" *ngIf="item.flag1==1">必填字段</span>
                <span class="marginLeft">协议</span>
                <select [(ngModel)]="protocol" (ngModelChange)="protocol=$event">
                  <option value="{{i}}" *ngFor="let i of protocols">{{i}}</option>
                </select>
                <img src="../assets/appmanage/delete.png" (click)="del(i)" class="delete"/>
                <img src="../assets/appmanage/addChannel.png" (click)="add()" *ngIf="(i+1)==arr.length" class="add" style="margin-left: 14px"/>
              </div>
            </div>
            <div [style.display]="excel==0?'':'none'" class="importModel">
              <div  *ngIf="uploader.queue.length==0">
                <span onclick="document.getElementById('file').click()" class="browse createbtn">浏览...</span> <span class="notChoose">未选择文件</span>
                <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" accept=".xlsx" (change)="selectedFileOnChanged($event)"/>
                <a href="#" class="downLoadBtn createbtn" onclick="return false" (click)="download()">下载导入模板</a>
              </div>
              <table class="uploadShow">
                <tr *ngFor="let item of uploader.queue;let i =index" class="uploadTr" [ngClass]="{border: item.headers.flag==1}">
                  <td class="uploadTxt paddingLeft"><img src="../assets/appmanage/shangchuan.png" class="imgMiddle right" *ngIf="item.progress==0"/><img src="../assets/appmanage/shangchuan.png" class="imgMiddle right"  *ngIf="item.progress!=100&&(item.progress!=0)"/>{{item.file.name}}<span *ngIf="(item.file.size/1024)>=1024">（{{item.file.size/1024/1024|number:'1.2-2'}}）MB</span><span *ngIf="(item.file.size/1024)<1024">（{{item.file.size/1024|number:'1.2-2'}}）KB</span></td>
                  <td class="uploadImg paddingRight"><img src="../assets/appmanage/shanchu.png" class="imgMiddle" (click)="item.remove()"/></td>
                  <div class="progressouter" *ngIf="item.headers.flag==0||(!item.headers.flag)">
                    <span>{{item.progress}}%</span>
                    <div class="progressinner" [ngStyle]="{width: item.progress + '%'}"></div>
                  </div>
                </tr>
              </table>
              <a href="#" class="downLoadBtn createbtn importDown" onclick="return false" (click)="download()" *ngIf="uploader.queue.length>0">下载导入模板</a>
            </div>
          </div>

<!--          <div class="createInfo">
            <label><span class="symbol">*</span>场景选择:</label>
            <input type="text" required class="sceneInput" id="sceneInput" (click)="buyScene()" readonly name="sceneGather" [(ngModel)]="sceneGather"/>
          </div>-->
<!--          <div class="createInfo" style="height: 70px;">
            <label style="float: left"><span class="symbol">*</span>终端平台:</label>
            <ul class="checkSystem">
              <li  *ngFor="let sy of systemArr">
                <a class="unselected" href="javascript:void(0)"(click)="check(sy)" [ngClass]="{selected: sy.flag==1}">
                  <img src="../assets/appmanage/check.png" [style.display]="!sy.flag||sy.flag==2?'none':''"/>
                  <span>{{sy.name}}</span>
                </a>
              </li>
            </ul>
          </div>-->
<!--          <div class="createInfo">
            <label><span class="symbol">*</span>应用包名:</label>
            <input type="text" required/>
          </div>-->
<!--          <div class="createInfo">
            <label style="float: left"><span class="symbol">*</span>应用描述:</label>
            <div class="tip">
            <textarea maxlength="200"></textarea>
              <p>不超过200字</p>
            </div>
          </div>-->
          <div class="btn">
            <a href="javascript:void(0)"  class="crtBtn" (click)="create()">创建</a>
           <!-- <a href="javascript:void(0)"  class="crtBtn" (click)="updateSave()" [style.display]="btnIndex==1?'':'none'">保存</a>-->
            <a href="javascript:void(0)" class="backBtn" (click)="back()">返回</a>
          </div>
        </div>
      </div>
<!--      <div class="createRight" [style.display]="scene==1?'':'none'">
        <div>
          <h4>已购场景</h4>
          <div class="sceneContent">
            <div class="scene">
              <span *ngFor="let item of sceneArr">
                &lt;!&ndash;<input type="checkbox"/>&ndash;&gt;
                <img src="../assets/appmanage/unchecked.png" (click)="check(item)" *ngIf="!item.flag||item.flag==2"/>
                <img src="../assets/appmanage/checked.png" (click)="check(item)" *ngIf="item.flag==1"/>
                <a>{{item.name}}</a>
              </span>
            </div>
            <div class="sceneBtn">
              <a href="javascript:void(0)" class="backBtn bt" (click)="sureScene()">确定</a>
              <a href="javascript:void(0)" class="backBtn bt bt1" (click)="goBack()">返回</a>
            </div>
          </div>
        </div>
      </div>-->
  </div>
  <div class="appManageSpace" [style.display]="createApp=='space'?'':'none'">
    <div class="spaceContent">
      <img src="../assets/appmanage/addAPP.png"/>
      <span class="spaceText">暂无应用，请添加应用</span>
    </div>
  </div>
  <!-- 删除弹框 -->
  <div class="dialog" [style.display]="showDialog==1?'':'none'">
    <div class="dialogContainer delDialogContainer">
      <div class="dialogDelHeader">
        <span>删除用户</span>
      </div>
      <div class="dialogDelContent">
        <img src="../assets/appdetail/way.manage/warnning.png" class="middle"/>
        <span class="middle" style="padding-left: 10px">删除所选应用？</span>
      </div>
      <div class="del">
        <a href="javascript:void(0)" class="btn1 marg" (click)="delete()">确定</a>
        <a href="javascript:void(0)" class="btn1 marg" (click)="cancelDel()">取消</a>
      </div>
    </div>
  </div>
</div>
