
<!--分页组件-->
<div class="bottom_menu" *ngIf="pageParams.totalPage>=0 && pageParams.totalNum>=0">
  <a class="label">共 {{pageParams.totalNum}} 条记录  当前显示第 <span>{{pageParams.curPage}}</span>页</a>
  <div class="selectDiv" >
    <span>每页</span>
    <select [(ngModel)]="pageMaxItem" (ngModelChange)="maxItemChange();">
      <option value="10" selected="{{pageMaxItem==10?'selected':''}}">10</option>
      <option value="20" selected="{{pageMaxItem==20?'selected':''}}">20</option>
      <option value="50" selected="{{pageMaxItem==50?'selected':''}}">50</option>
    </select>
    <span>条记录</span>
  </div>
  <div class="btnDiv">
    <!--  <button class="btn" [routerLink]="['./']" [disabled]="pageParams.curPage<=5"
              (click)="changePage(pageParams.curPage-5)" [queryParams]="{pageNo:pageParams.curPage-5}"><<</button>-->
    <button class="btn" [routerLink]="['./']" (click)="changePage(pageParams.curPage-1)"
            [queryParams]="{pageNo:pageParams.curPage-1,job_id:pageParams.job_id}" [disabled]="pageParams.curPage==1">上一页</button>
    <button  [routerLink]="['./']" [class.disabled]="pageParams.curPage==page.pageNo"
             (click)="changePage(page.pageNo)" [queryParams]="{pageNo:page,job_id:pageParams.job_id}" *ngFor="let page of getPageList(pageParams)">
      {{page.pageNo}}
    </button>
    <button class="btn" [routerLink]="['./']" (click)="changePage(pageParams.curPage-(-1))"
            [queryParams]="{pageNo:pageParams.curPage-(-1),job_id:pageParams.job_id}" [disabled]="pageParams.curPage==pageParams.totalPage">下一页</button>
    <!--  <button class="btn" [routerLink]="['./']" [disabled]="pageParams.totalPage-pageParams.curPage<=5"
              (click)="changePage(pageParams.curPage-(-5))" [queryParams]="{pageNo:pageParams.curPage-(-5)}">>></button>-->
  </div>
</div>
<!--<div class="col-md-12 text-center text-sm text-dark-gray" *ngIf="!pageParams.totalNum">
  空空如也
</div>-->
