<div class="dialog">
  <div class="dialogContainer addDialogContainer">
    <div class="dialogHeader">
      <span>新建项目</span>
    </div>
    <div class="dialogContent">
      <div class="info">
        <label><span class="symbol">*</span>项目名称：</label>
        <input type="text" name="projectName" [(ngModel)]="projectName"/>
        <span class="must" [style.display]="required==1?'':'none'">必填字段</span>
      </div>
      <div class="info">
        <label><span class="symbol">*</span>项目类型：</label>
        <select [(ngModel)]="projectCate">
          <option value="{{i}}" *ngFor="let i of projectCates">{{i}}</option>
        </select>
      </div>
      <div class="infoBtn">
        <a href="javascript:void(0)" class="btn bgco" style="margin-left: 32px" (click)="create()">创建</a>
        <a href="javascript:void(0)" class="btn bgcg" style="margin-left: 18px" (click)="back()">返回</a>
      </div>
    </div>
    </div>
</div>
