.dialog{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 77777;
}
.dialogContainer{
  position: absolute;
  width: 800px;
  height:auto;
  top: 80px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  color: #FFF;
  border-radius: 5px;
  border:1px solid #ccc;
  -webkit-box-shadow:0 0 10px #999999;
  -moz-box-shadow:0 0 10px #999999;
  box-shadow:0 0 10px #999999;
}
.addDialogContainer{
  top:50%;
  width:506px;
  left:50%;
  margin-left: -254px;
  margin-top: -144px;
  font-size: 14px;
}
.dialogHeader{
  background: #eeeeee;
  color: #333333;
  border-top-left-radius :5px;
  border-top-right-radius:5px;
}
.dialogHeader,.dialogContent{
  position: relative;
  color: #333333;
  left:0;
}
.dialogHeader span{
  display: block;
  height:40px;
  line-height: 40px;
  padding-left: 34px;
  margin-bottom: 42px;
}
.span{
  display: block;
  height:40px;
  font-size: 18px;
  padding-top: 20px;
}
.dialogContent{
  padding-left: 34px;
}
.dialogContent .info{
  margin-bottom: 24px;
}
.dialogContent .info input,.dialogContent .info select{
  width:280px;
  height:36px;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  margin-left: 32px;
  padding-left: 8px;
  color: #333333;
  box-sizing: border-box;
}
.dialogContent .info select{
  background: url("../../assets/appdetail/way.manage/selectDown.png") no-repeat right 6px center;
  color: #666666;
}
.infoBtn{
  padding-top: 26px;
  padding-left: 80px;
  padding-bottom: 28px;
}
.radio{
  display: inline-block;
  padding-left: 30px;
  font-size: 0px;
}
.fontSize{
  font-size: 14px;
}
.radio img{
  margin-right: 10px;
}
.middle{
  display: inline-block;
  vertical-align: middle;
}
.delSys{
  text-align: center;
  padding:50px 0 42px;
}
.carNum{
  display: inline-block;
  margin-left: 30px;
}
.car{
  width:216px !important;
  margin-left: 20px !important;
}
select:focus{
  border:1px solid #23a880 !important;
}
select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select option{
  padding-left: 8px;
}
input{
  outline: none;
  padding-left: 8px;
}
input:focus{
  border:1px solid #23a880 !important;
}
.btn{
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  width: 80px;
  box-sizing: border-box;
  height:30px;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  text-decoration: none;
  display: inline-block;
}
.bgco{
  color:#ffffff;
  background: #ff7c35;
}
.bgcg{
  color:#333333;
  background: #eeeeee;
}
.createInfo{
  width:390px;
  position: relative;
}
.createInfo .jia{
  position: absolute;
  right:10px;
  top:10px;
  cursor: pointer;
}
.createInfo input{
  width:280px;
  height:36px;
  border:1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 32px;
  margin-bottom: 30px;
  padding-left: 8px;
  color: #666666;
}
.createInfo alarm-rlues .checkedRlue{
  width:280px !important;
  box-sizing: border-box;
}
.createInfo span{
  position: absolute;
  top:8px;
  right:-58px;
}
.marginTop{
  margin-top: 30px;
}
.must{
  font-size: 14px;
  color: #fe1c1c;
}
.detail{
  margin-left: 106px !important;
  margin-top: 24px;
}
#file{
  display: none;
}
.pdl{
  margin-left: 104px;
  display: block;
  clear: left;
}
.space{
  display: block;
  height:20px;
  clear: left;
}
.zhushi{
  display: block;
  font-size: 12px;
  color:#bf533a;
  margin-top: 10px;
  margin-left: 104px;
}
.pohotText{
  margin-left: 104px;
  float: left;
}
.showPhoto{
  float: left;
  width:216px;
  height:100%;
}
.showPhoto .photo{
  width:60px;
  height:60px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;

}
.showPhoto span{
  position: relative;
  margin-left: 10px;
  display: inline-block;
}
.showPhoto .del{
  cursor: pointer;
  position: absolute;
  top:0;
  right:0;
}
.symbol{
  font-size: 12px;
  color: #fe1c1c;
  position: relative;
  top:-2px;
}
