.createTask{
  margin:20px 30px 0 30px;
  background: #ffffff;
}
.taskTitle{
  font-size: 16px;
  color: #333333;
  padding:20px 0 33px 20px;
}
.taskContent{
  font-size: 14px;
  color: #333333;
  padding-left: 90px;
}
.symbol{
  font-size: 12px;
  color: #fe1c1c;
}
.createInfo{
  width:670px;
  position: relative;
  overflow: hidden;
}
.createInfo .jia{
  position: absolute;
  right:80px;
  top:10px;
  cursor: pointer;
}
.createInfo input{
  width:490px;
  height:36px;
  border:1px solid #d3d3d3;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-left: 8px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.upload{
  margin-left: 34px;
}
#file{
  display: none;
}
.upText{
  line-height: 30px;
}
.btn{
  width: 80px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.taskBtn{
  margin-left: 109px;
}
.create{
  background: #ff7c35;
  color: #ffffff;
  border:1px solid #ff7c35 !important;
  margin-right: 18px;
}
.back{
  color: #333333;
}
.browse{

}
.notChoose{
  color: #666666;
  font-size: 14px;
  margin-left: 12px;
}
.upload p{
  font-size: 12px;
  color: #bf533a;
}
.marginTop{
  margin-top: 30px;
}
.must{
  font-size: 14px;
  color: #fe1c1c;
  position: absolute;
  top:7px;
  right:0;
}
