<div class="container">
  <div class="createTask">
    <div class="taskTitle">
      <span>{{taskTitle}}</span>
    </div>
    <div class="taskContent">
      <div class="form">
        <div class="createInfo">
          <label><span class="symbol">*</span>任务名称：</label>
          <input type="text" name="taskName" [(ngModel)]="taskName"/>
          <span class="must" [style.display]="required==1?'':'none'">必填字段</span>
        </div>
        <div class="createInfo">
          <label><span class="symbol">*</span>告警规则：</label>
          <input type="text" required readonly name="alarmRule" [(ngModel)]="alarmRule"/>
          <img src="../assets/createtext/jia.png" class="jia" (click)="checkedRlues()"/>
          <alarm-rlues [style.display]="checked==1?'':'none'"></alarm-rlues>
        </div>
        <div class="createInfo">
          <label class="fl"><span class="symbol">*</span>上传文件：</label>
          <div class="fl upload">
            <span onclick="document.getElementById('file').click()" class="browse createbtn">浏览...</span> <span class="notChoose">未选择文件</span>
            <input type="file" id="file" name="file" ng2FileSelect [uploader]="uploader" accept=".xlsx" (change)="selectedFileOnChanged($event)"/>
          </div>
          <span class="must" [style.display]="required==1?'':'none'">必填字段</span>
        </div>
      </div>
    </div>
  </div>
</div>
