<div class="container" (click)="hide()">
  <div class="createTask" id="createTask">
    <div class="taskTitle">
      <span>{{taskTitle}}</span>
    </div>
    <div class="taskContent">
      <div class="form">
        <div class="createInfo">
          <label><span class="symbol">*</span>任务名称：</label>
          <input type="text" name="taskName" [(ngModel)]="taskName"/>
          <span class="must" [style.display]="required1==1?'':'none'">必填字段</span>
        </div>
        <div class="createInfo">
          <label><span class="symbol">*</span>告警规则：</label>
          <input type="text" required readonly name="warnRule" [(ngModel)]="warnRule"/>
          <img src="../assets/createtext/jia.png" class="jia" (click)="checkedRlues()"/>
          <span class="must" [style.display]="required2==1?'':'none'">必填字段</span>
          <alarm-rlues [style.display]="checked==1?'':'none'" width="490px" margin="35px 50px 0 50px" paddingRight="46px" [title]="title" [warnChanArr]="warnChanArr" (chanChange)="chanChange($event)" (chanChangeId)="chanChangeId($event)"></alarm-rlues>
        </div>
        <div class="createInfo" [ngClass]="{marginTop: checked==1}">
          <label class="fl upText"><span class="symbol">*</span>上传文件：</label>
          <div class="fl upload">
            <span onclick="document.getElementById('file1').click()" class="browse btn" *ngIf="taskTitle!='查看任务'">浏览...</span>
            <span class="notChoose">未选择文件</span>
            <input type="file" id="file1" name="file1" ng2FileSelect multiple [uploader]="uploader" accept=".asx,.asf,.mpg,.wmv,.3gp,.mp4,.mov,.avi,.flv" (change)="selectedFileOnChanged($event)"/>
            <p>注：建议文件3-5个，每个文件大小不超过500M</p>
            <p>支持格式：asx\asf\mpg\wmv\3gp\mp4\mov\avi\flv </p>
          </div>
          <div class="createInfo">
            <table class="uploadShow" *ngIf="lookIndex==1">
              <tr *ngFor="let item of showFile;let i =index" class="uploadTr border">
                <td class="uploadTxt paddingLeft">{{item.fileName}}<span>（{{item.size}}）</span></td>
                <td class="uploadImg paddingRight"><img src="../assets/appmanage/delete.png" class="imgMiddle" (click)="removeArr(i)" *ngIf="taskTitle=='修改任务'"/></td>
              </tr>
            </table>
            <table class="uploadShow" *ngIf="showArr.length>0">
              <tr *ngFor="let item of showArr;let i =index" class="uploadTr" [ngClass]="{border: item.headers.flag==1}">
                <td class="uploadTxt paddingLeft"><img src="../assets/appmanage/shangchuan.png" class="imgMiddle right" *ngIf="item.progress==0"/><img src="../assets/appmanage/shangchuan.png" class="imgMiddle right"  *ngIf="item.progress!=100&&(item.progress!=0)"/>{{item.file.name}}<span *ngIf="(item.file.size/1024)>=1024">（{{item.file.size/1024/1024|number:'1.2-2'}}）MB</span><span *ngIf="(item.file.size/1024)<1024">（{{item.file.size/1024|number:'1.2-2'}}）KB</span></td>
                <td class="uploadImg paddingRight"><img src="../assets/appmanage/delete.png" class="imgMiddle" (click)="remove(i)"/></td>
                <div class="progressouter" *ngIf="item.headers.flag==0||(!item.headers.flag)">
                  <span>{{item.progress}}%</span>
                  <div class="progressinner" [ngStyle]="{width: item.progress + '%'}"></div>
                </div>
              </tr>
            </table>
        </div>
          <span class="must" [style.display]="required3==1?'':'none'">必填字段</span>
        </div>
        <div class="taskBtn">
        <a href="#" onclick="return false" class="btn create" (click)="create()"  *ngIf="taskTitle=='新建任务'">创建</a>
          <a href="#" onclick="return false" class="btn create" (click)="update()"  *ngIf="taskTitle=='修改任务'">保存</a>
        <a href="#" onclick="return false" class="btn back" routerLinkActive="active" routerLink="/taskmanage">返回</a>
        </div>
      </div>
    </div>
    <app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn" (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
  </div>
</div>
