<div class="container">
  <div class="statisticTitle">
    <div class="search searchOne">
      <div class="info">
        <label>线路名称：</label>
        <select name="lineName" [(ngModel)]="lineName" (ngModelChange)="lineName=$event;lineChange()">
          <option *ngFor="let item of lineArr" value="{{item.lineName}}">{{item.lineName}}</option>
        </select>
      </div>
      <div class="info">
        <label>任务名称：</label>
        <select  name="taskName" [(ngModel)]="taskName">
          <option *ngFor="let item of taskArr" value="{{item.taskName}}">{{item.taskName}}</option>
        </select>
      </div>
      <div class="info">
        <label>杆塔号：</label>
        <select  name="towerNum" [(ngModel)]="towerNum">
          <option *ngFor="let item of towerArr" value="{{item.towerNum}}">{{item.towerNum}}</option>
        </select>
      </div>
    </div>
    <div class="search searchTwo">
      <div class="info infoTime">
        <label>识别日期：</label>
        <input type="text" id="start" readonly [(ngModel)]="startTime"/>
        <span>--</span>
        <input type="text" id="end" readonly [(ngModel)]="endTime"/>
      </div>
      <div class="info">
        <label>统计颗粒度：</label>
        <select  name="particles" [(ngModel)]="particles">
          <option *ngFor="let item of particlesArr" value="{{item}}">{{item}}</option>
        </select>
      </div>
      <a href="#" onclick="return false" class="btn bgco searchBtn" (click)="search()">查询</a>
    </div>
  </div>
  <div class="content">
    <div id="charts" style="width: 860px;height:400px;"></div>
  </div>
  <div class="statisticDate" id="statisticDate">
    <div class="dataTable">
      <table *ngIf="showTable">
        <tr>
          <th class="p2">线路名</th>
          <th class="p1">杆塔数</th>
          <th class="p1">缺陷杆塔数</th>
          <th class="p1">正常杆塔数</th>
          <th class="p1">总识别文件数</th>
          <th class="p1">缺陷文件数</th>
          <th class="p1">杆塔缺陷率</th>
          <th class="p1">文件缺陷率</th>
        </tr>
        <tr *ngFor="let item of tableList">
          <td class="p2">{{item.lineName}}</td>
          <td class="p1">{{item.towerCount}}</td>
          <td class="p1">{{item.flawTowerCount}}</td>
          <td class="p1">{{item.normalTowerCount}}</td>
          <td class="p1">{{item.fileCount}}</td>
          <td class="p1">{{item.flawFileCount}}</td>
          <td class="p1">{{item.flawTowerRate}}</td>
          <td class="p1">{{item.flawFileRate}}</td>
        </tr>
      </table>
      <table *ngIf="!showTable">
        <tr>
          <th class="p3">杆塔号</th>
          <th class="p4">所属线路</th>
          <th class="p3">总识别文件数</th>
          <th class="p3">缺陷文件数</th>
          <th class="p3">正常文件数</th>
          <th class="p3">文件缺陷率</th>
        </tr>
        <tr *ngFor="let item of tableList">
          <td class="p3">{{item.towerNum}}</td>
          <td class="p4">{{item.lineName}}</td>
          <td class="p3">{{item.fileCount}}</td>
          <td class="p3">{{item.flawFileCount}}</td>
          <td class="p3">{{item.normalFileCount}}</td>
          <td class="p3">{{item.flawFileRate}}</td>
        </tr>
      </table>
      <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
    </div>
  </div>
</div>
<app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn" (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
