<div class="container">
  <div class="task">
    <div class="task_title">
      <div class="title_name fl">
        <label>任务名称：</label>
        <input type="text" name="taskName" [(ngModel)]="taskName"/>
      </div>
      <div class="title_warnStatus fl">
        <label>告警状态：</label>
        <select [(ngModel)]="alarmStatus" (ngModelChange)="alarmStatus=$event;">
          <option *ngFor="let item of alarmStatusArr" value="{{item}}">{{item}}</option>
        </select>
      </div>
      <div class="searchBtn fr">
        <a href="#" onclick="return false" class="btn" (click)="search()">查询</a>
      </div>
    </div>
    <div class="task_body" id="task_body">
      <div class="body_btn">
        <a href="#" class="btn delete fr" onclick="return false" (click)="dia()">删除</a>
        <a href="#" class="btn add fr" onclick="return false" (click)="add()">新增</a>
      </div>
      <div class="task_content">
        <table cellspacing="0" class="taskTable">
          <tr>
            <th class="checked">
              <img src="../assets/appdetail/way.manage/unchecked.png" *ngIf="allFlag==false" class="middle pad" (click)="allSel()"/>
              <img src="../assets/appdetail/way.manage/checked.png" *ngIf="allFlag==true" class="middle pad" (click)="allSel()"/>
            </th>
            <th class="name">任务名称</th>
            <th class="rule">规则名称</th>
            <th class="file">文件个数</th>
            <th class="run">运行状态</th>
            <th class="progress"> 进度</th>
            <th class="operation">操作</th>
          </tr>
          <tr *ngFor="let item of taskList">
            <td class="checked">
              <!--<img src="../assets/appdetail/way.manage/unchecked.png" class="middle pad" (click)="check(item)" *ngIf="item.flag!=1"/>
              <img src="../assets/appdetail/way.manage/checked.png" class="middle pad" (click)="check(item)" *ngIf="item.flag==1"/>-->
              <img [src]="item.selected?'assets/appdetail/way.manage/checked.png':'assets/appdetail/way.manage/unchecked.png'" class="middle pad" (click)="check(item)"/>
            </td>
            <td title="{{item.taskName}}">{{item.taskName}}</td>
            <td title="{{output(item.alarmRules)}}">{{output(item.alarmRules)}}</td>
            <td title="{{item.fileNumber}}">{{item.fileNumber}}</td>
            <td>{{item.taskStatus}}</td>
            <td style="position: relative;">{{getPercent(item.percent)}}
           <!--<span class="mouse" (mouseenter)="running(item)" (mouseleave)="stopped(item)">{{getPercent(item.percent)}}
              <div class="percentBox" *ngIf="item.show==1" [ngClass]="{border: item.show==1}">
                <div class="percent"  *ngFor="let item of percent">
                  <p title="{{item.fileName}}（{{item.fileSize}}）">{{item.fileName}}<span>（{{item.fileSize}}）</span></p>
                  <div class="progressouter">
                    &lt;!&ndash;<span>100%</span>&ndash;&gt;
                    <div class="progressinner" [ngStyle]="{width: item.percent|percent:'.2'}"></div>
                  </div>
                </div>
              </div>
              </span>-->
            </td>
            <td>
              <a class="operationBtn rerun" *ngIf="item.taskStatus=='完成'||item.taskStatus=='已停止'" (click)="runChannel(item)" title="重新运行"></a>
              <a class="operationBtn stop" *ngIf="item.taskStatus=='未启动'" (click)="runChannel(item)" title="开始"></a>
              <a class="operationBtn start" *ngIf="item.taskStatus=='进行中'" (click)="runChannel(item)" title="停止"></a>
              <a class="operationBtn look" (click)="look(item)" title="查看告警"></a>
              <a class="operationBtn edit" *ngIf="item.taskStatus!='进行中'" (click)="edit(item)" title="修改"></a>
              <a class="operationBtn unedit" *ngIf="item.taskStatus=='进行中'" title="修改"></a>
              <a class="operationBtn lookResult"  title="查看结果" (click)="lookResult(item)"  *ngIf="item.outputPath!=null&&item.percent==1"></a>
              <a class="operationBtn noLookResult"  title="查看结果"></a>
            </td>
          </tr>
        </table>
        <page [pageParams]="pageParams" (changeCurPage)="getPageData($event)" class="page"></page>
      </div>
      <app-tips [style.display]="deleteIndex==1?'':'none'" [tip_title]="tip_title" [tip_content]="tip_content" [deleteIndex]="deleteIndex" [tip_btn]="tip_btn"  (deleteChange)="deleteChange($event)" (deletedChange)="deletedChange($event)"></app-tips>
    </div>
  </div>
</div>
  <div class="videoPlayer" *ngIf="playShow" (mouseenter)="show()" (mouseleave)="hide()">
    <img src="assets/offline/task_close.png" class="videoClose" (click)="closeVideo()"/>
    <div style="height:100%">
      <video src="{{SERVER_URL}}/download/{{output1(outputPath)}}" #offlineVideo  controlsList="nodownload nofullscreen noremoteplayback"></video>
    </div>
<!--    <div class="progressTime">
      <span class="current"></span>
      <span>/</span>
      <span class="duration"></span>
    </div>
    <div class="progressBar">
      <div class="timeBar"></div>
    </div>
    <div *ngIf="videoBtn==1" class="videoStart">
      <img [src]="showBtn?'assets/offline/zanting.png':'assets/offline/kaishi.png'" (click)="play()"/>
    </div>-->
  </div>
<div class="videoPlayer" *ngIf="photoShow">
  <img src="assets/offline/task_close.png" class="videoClose" (click)="closePhtot()"/>
  <img [src]="photoIndex==0?'assets/offline/bukedianji_zuo.png':'assets/offline/zuo.png'" class="leftArrow" (click)="clickLeft()"/>
    <div class="showArea">
      <img src="{{SERVER_URL}}/download/{{output2(picturesNumber[photoIndex])}}"/>
    </div>
  <img [src]="photoIndex==picturesNumber.length-1?'assets/offline/bukedianji_you.png':'assets/offline/you.png'" class="rightArrow" (click)="clickRight()"/>
</div>
