<div class="container">
  <div class="result-content">
    <h4>基础资料</h4>
    <div class="info-content">
      <div class="info">
        <label>线路名称：</label>
        <span>{{allInfo.patrolLine.lineName}}</span>
      </div>
      <div class="info">
        <label>杆塔号：</label>
        <span>{{allInfo.patrolTower.towerNum}}</span>
      </div>
      <div class="info">
        <label class="infoSub">识别原图：</label>
        <img src="{{SERVER_URL}}/download/{{allInfo.taskFile.filePath}}"/>
      </div>
      <div class="info">
        <label class="infoSub">缺陷图：</label>
        <img src="{{SERVER_URL}}/download/{{allInfo.flawFilePath}}"/>
        <span onclick="document.getElementById('flawImg').click()" class="reUpload btn bgcg" style="margin-left: 89px">重新上传</span>
        <input type="file" id="flawImg" name="file" ng2FileSelect [uploader]="uploader" accept=".png,.jpj" (change)="selectedFileOnChanged($event)"/>
      </div>
      <div class="info">
        <label>缺陷部件：</label>
        <input type="text" name="part" [(ngModel)]="part"/>
      </div>
      <div class="info">
        <label>缺陷描述：</label>
        <input type="text" name="describe" [(ngModel)]="describe"/>
      </div>
      <div class="info">
        <label>详细描述：</label>
        <input type="text" name="detailDescribe" [(ngModel)]="detailDescribe"/>
      </div>
      <div class="info">
        <label>缺陷性质：</label>
        <select name="flawNature" [(ngModel)]="flawNature">
          <option *ngFor="let item of flawNatureArr" value="{{item}}">{{item}}</option>
        </select>
      </div>
      <div class="info">
        <label>缺陷状态：</label>
        <select name="flawStatus" [(ngModel)]="flawStatus">
          <option *ngFor="let item of flawStatusArr" value="{{item}}">{{item}}</option>
        </select>
      </div>
      <div class="info">
        <label>缺陷时间：</label>
        <span>{{allInfo.recogTime}}</span>
      </div>
      <div class="saveBtn">
        <a href="#" onclick="return false" class="btn bgco" (click)="save()">保存</a>
        <a href="#" onclick="return false" class="btn bgcg" style="margin-left: 8px" (click)="cancel()">取消</a>
      </div>
    </div>
  </div>
</div>
