<div class="container">
  <div class="result-content">
    <h4>基础资料</h4>
    <div class="info-content">
      <div class="info">
        <label>线路名称：</label>
        <span></span>
      </div>
      <div class="info">
        <label>杆塔号：</label>
        <span></span>
      </div>
      <div class="info">
        <label>识别原图：</label>
        <img src=""/>
      </div>
      <div class="info">
        <label>杆塔号：</label>
        <img src=""/>
      </div>
      <div class="info">
        <label>缺陷部件：</label>
        <input type="text" name="part" [(ngModel)]="part"/>
      </div>
      <div class="info">
        <label>缺陷描述：</label>
        <input type="text" name="describe" [(ngModel)]="describe"/>
      </div>
      <div class="info">
        <label>详细描述：</label>
        <input type="text" name="detailDescribe" [(ngModel)]="detailDescribe"/>
      </div>
      <div class="info">
        <label>缺陷性质：</label>
        <input type="text" name="detailDescribe" [(ngModel)]="detailDescribe"/>
      </div>
      <div class="info">
        <label>缺陷状态：</label>
        <input type="text" name="detailDescribe" [(ngModel)]="detailDescribe"/>
      </div>
      <div class="info">
        <label>缺陷时间：</label>
        <span></span>
      </div>
      <div class="saveBtn">
        <a href="#" class="btn bgco">保存</a>
        <a href="#" class="btn bgcg">取消</a>
      </div>
    </div>
  </div>
</div>
