.result-content{
  background: #fff;
  margin:20px 30px 0;
}
.result-content h4{
  padding:20px 0 0 20px;
}
.info{
  margin-bottom: 26px;
  margin-left: 85px;
}
.info label,.info span{
  font-size: 14px;
  color: #555555;
  display: inline-block;
}
.info label{
  width:70px;
  text-align: right;
}
.infoSub{
  vertical-align: top;
}
.info img{
  display: inline-block;
  width:150px;
  height:116px;
  margin-left: 14px;
}
.info span{
  display: inline-block;
  margin-left: 14px;
}
.info input,.info select{
  width:490px;
  height:36px;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  margin-left: 12px;
  text-indent: 6px;
  color: #666666;
  box-sizing: border-box;
}
.info select{
  background: url("../../../../assets/appdetail/way.manage/selectDown.png") no-repeat right 6px center;
  color: #666666;
}
select:focus{
  border:1px solid #23a880 !important;
}
select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 8px;
}
select option{
  padding-left: 8px;
  color: #888888;
}
input{
  outline: none;
  padding-left: 8px;
}
input:focus{
  border:1px solid #23a880 !important;
}
.btn{
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  width: 80px;
  box-sizing: border-box;
  height:30px;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  text-decoration: none;
  display: inline-block;
}
.bgco{
  color:#ffffff;
  background: #ff7c35;
}
.bgcg{
  color:#333333;
  background: #eeeeee;
}
.saveBtn{
  margin:112px 0 0 170px;
}
.saveBtn a{
  margin-bottom: 20px;
}
.reUpload{
  display: block !important;
  margin:20px 0 0 88px;
  cursor: pointer;
}
#flawImg{
  display: none;
}
