@charset "UTF-8";
ul,li{
  list-style: none;
  padding:0;
  margin:0;
}
.header{
  width: 100%;
  height: 70px;
  background-color: #232323;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1111;
  /*font-family: 'MicrosoftYaHei';
  font-size: 14px;
  color: #ffffff;*/
}
.nav_logo{

}
/*.logo{
    position: relative;
    width: 128px;
    height: 50px;
    !*top: 25px;*!
    left: 37px;
    float: left;
  z-index: 100;
}*/
.logo-wrapper {
  width: 9% !important;
  min-width: 120px;
  height: 100%;
}
.logo{
  width: 70% !important;
  height: auto !important;
  display: block;
  margin-top: 15px;
  margin-left: 18%;
}
.header p{
  position: absolute;
  text-align: center;
  width: 50%;
  left: 25%;
  /*top: 30px;*/
  margin: 0px;
  float: left;
  font-size: 18px;
  color: #fff;
  font-family: "MicrosoftYaHei";
}
.entry{
  position: absolute;
  cursor: pointer;
  /*top: 30px;*/
}
.entry img{
  width: 18px;
  height: 18px;
}
.entry span{
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  color: #ffffff;
}
.user{
  right: 158px;
}
.user span{
  left: 81%;
  margin-left: 6px;
}
.logout{
  right: 88px;
}
.logout span{
  left: 89%;
}
.line{
  right:132px;
}
.line span{
  color: #4d4d4d;
  font-weight: bolder;
}
.entry span a{
  height: 70px;
  line-height:70px;
  display: inline-block;
}
.user-menuBox{
  display: none;
  position: absolute;
  top:70px;
  left:-10px;
  width:120px;
  font-size: 12px;
  color: #333333;
  background: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);

}
.user-menuBox .user-menu li a{
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  height:32px;
  line-height: 32px;
  display: block;
  text-align: left;
  padding-left: 24px;

}
.user-menuBox .user-menu li a:hover{
  background: #e5e5e5;
}
.user-menu{
  padding-top: 10px;
  padding-bottom: 10px;
}

