<div class="dialog">
  <div class="dialogContainer addDialogContainer">
    <div class="dialogHeader">
      <span>系统提示</span>
    </div>
    <div class="dialogContent" style="text-align: center">
      <img src="../assets/appdetail/way.manage/warnning.png" class="middle"/>
      <span class="middle" style="padding-left: 10px">{{tip_content}}</span>
    </div>
    <div class="delSys">
      <a href="javascript:void(0)" class="btn bgcg" (click)="delete()" *ngIf="tip_content=='是否确认删除该杆塔号'">确定</a>
      <a href="javascript:void(0)" class="btn bgcg" (click)="cancel()" *ngIf="tip_content!='是否确认删除该杆塔号'">确定</a>
      <a href="javascript:void(0)" class="btn bgcg" (click)="cancel()" style="margin-left: 18px">取消</a>
    </div>
  </div>
</div>
