.bottom_menu{
  position: relative;;
  width: 96%;
  height: 50px;
  top:12px;
  left:30px;
  font-size: 12px;
  color:#666666;
}
.bottom_menu .label{
  position: relative;
  height: 21px;
  width: 50%;
  font-family: "MicrosoftYaHei";
  float: left;

}
.disabled{
  background: #23a880 !important;
  color: #ffffff !important;
}
.bottom_menu .label span{
  color: #23a880;

}

/*.bottom_menu .label span:nth-of-type(2){
  color: #23a880;
}*/
.bottom_menu .selectDiv{
  position: relative;
  width: 20%;
  height: 50px;
  float: left;
  outline: none;
  text-align: right;
}
.selectDiv select{
  width:4vw;
  text-indent: 20%;
  color: #666666;
}
.btnDiv{
  position: relative;
  float: right;
  display: table-cell;
  width:30%;

  text-align: right;
}
.btnDiv button {
  background: #ffffff;
  border:1px solid #c2c2c2;
  height:20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  margin: 0 2px;
  color: #666666;
}
.btnDiv .btn{
  width:60px;
}
.bottom_menu .selectDiv .select_pagemax{
  position: relative;
  width: 80px;
  height: 30px;
  top: 10px;
  outline: none;
}
.bottom_menu .pagebtn{
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 90px;
  margin: 11px 8px 0 10px;
  float: right;
  background-color: #252525;
  color: #f7f7f7;
  border-radius: 4px;
  font-size: 16px;
  font-family: "MicrosoftYaHei";
  cursor: pointer;
}
