.detail-header {
  width: 100%;
  height: 50px;
  background: #333;
  position: fixed;
  top: 70px;
  left: 0px;
  z-index: 999;
}

.detail-header img {
  position: absolute;
  width: 23px;
  top: 15px;
  left: 15px;
  cursor: pointer;
}
.detail-header-info {
  position: absolute;
  left: 43px;
  top: 0;
}
.detail-header label {
  display: inline-block;
  color: white;
  height: 100%;
  font-size: 14px;
  line-height: 50px;
}
.detail-header .divider {
  margin: 0 8px;
}
.detail-header .title {

}
.personal-center{

}
nav{
  width: 9%;
  float: left;
  overflow: hidden;
  background-color: #dcdee0;
  position: fixed;
  top: 120px;
  left: 0;
  bottom: 0;
  z-index: 1112;
}
nav .nav_title{
  color: #333333;
  font-weight: bold;
}
nav .nav_title a{
  line-height: 70px;
  height:70px;
}
.nav_element{
  color: #555555;
  font-size: 14px;
}
.nav_element a{
  padding-left: 20%;
  display: block;
  color: #555555;
  line-height: 50px;
  height:50px;
  text-decoration: none;
}
.personalTab{
  background: #ffffff;
}
