.channel{
  margin:20px 30px;
  overflow: hidden;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
.search{
  float: left;
  position: relative;
  width:260px;
  margin:20px 0 20px 20px;
}
.search img{
  position: absolute;
  right:6px;
  top:8px;
}
.search input{
  border:1px solid #d3d3d3;
  width:260px;
  height:30px;
  border-radius: 5px;
  text-indent: 16px;
}
.headerBtn{
  margin:20px;
}
.must{
  font-size: 14px;
  color: #fe1c1c;
}
.btn{
  display: inline-block;
  font-size: 14px;
  width:80px;
  height:30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  box-sizing: border-box;
}
.bgco{
  color: #ffffff;
  background: #ff7c35;
}
.bgcg{
  color: #333333;
  background: #eeeeee;
}
.pdl{
  margin-right: 18px;
  margin-top: 20px;
}
.downExcel{
  width:130px !important;
  margin-top: 20px;
  margin-right: 18px;
}
.searchBtn{
  float: right;
  margin-right: 20px;
  margin-top: 22px;
  background: #ff7c35 !important;
  color: #ffffff !important;
}
.channelName{
  float: left;
  overflow: hidden;
  margin:20px 0 20px 20px;
}
.channelName input,.channelName select{
  width:280px;
  height:36px;
  box-sizing: border-box;
  border:1px solid #d3d3d3;
  float: left;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 14px;
}
.channelName select{
  background: url("../../../../assets/appdetail/way.manage/selectDown.png") no-repeat right 6px center;
  color: #666666;
}
.channelTitle{
  background: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  overflow: hidden;
}
.channelName label{
  color: #333333;
  float: left;
  line-height: 36px;
  display: inline-block;
}
.channelContent{
  background: #ffffff;
}
.channelList{
  clear: both;
  margin:0 20px;
}
.channelTable{
  width:100%;
  border:1px solid #d3d3d3;
}
.channelTable th{
  color: #333333;
  font-weight: normal;
}
.channelTable,.channelTable tr{
  border-collapse: collapse;
  border-top:1px solid #d3d3d3;
}
.channelTable tr{
  height:36px;
  text-align: left;
  font-size: 14px;
  color: #666666;
}
.channelTable tr:nth-child(even){
  background: #eeeeee;
}
.operationBtn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  /*margin: 0 auto;*/
}
.stop {
  background: url('../../../../assets/appdetail/way.manage/qidong.png') no-repeat center;

}
.start {
  background: url('../../../../assets/appdetail/way.manage/zanting.png') no-repeat center;
}
.edit{
  background: url('../../../../assets/appdetail/way.manage/edit.png') no-repeat center;
}
.unedit{
  background: url('../../../../assets/appdetail/way.manage/unedit.png') no-repeat center;
}
.up{
  background: url('../../../../assets/appdetail/way.manage/up.png') no-repeat center;
}
.down{
  background: url('../../../../assets/appdetail/way.manage/down.png') no-repeat center;
}
.pad{
  padding-left: 20px;
}
.checked{
  width:6%;
}
.order{
  width:12%;
}
.name{
  width:12%;
}
.channelAddr{
  width:22%;
}
.protocol{
  width:12%;
}
.switch{
  width:14%;
}
.operation{
  width:20%;
}
.dialog{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(111, 111, 111, 0.3);
  opacity: 1;
}
.dialogContainer{
  position: absolute;
  width: 800px;
  height:auto;
  top: 80px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  color: #FFF;
  border-radius: 5px;
  border:1px solid #ccc;
  -webkit-box-shadow:0 0 10px #999999;
  -moz-box-shadow:0 0 10px #999999;
  box-shadow:0 0 10px #999999;
}
.addDialogContainer{
  top:50%;
  width:506px;
  left:50%;
  margin-left: -253px;
  margin-top: -195px;
  font-size: 14px;
}
.dialogHeader{
  background: #eeeeee;
  color: #333333;
  border-top-left-radius :5px;
  border-top-right-radius:5px;
}
.dialogHeader,.dialogContent{
  position: relative;
  color: #333333;
  left:0;
}
.dialogHeader span{
  display: block;
  height:40px;
  line-height: 40px;
  padding-left: 34px;
  margin-bottom: 42px;
}
.span{
  display: block;
  height:40px;
  font-size: 18px;
  padding-top: 20px;
}
.dialogContent{
  padding-left: 34px;
}
.dialogContent .info{
  margin-bottom: 24px;
}
.dialogContent .info input,.dialogContent .info select{
  width:280px;
  height:30px;
  border:1px solid #d3d3d3;
  border-radius: 5px;
  margin-left: 32px;
  text-indent: 6px;
  color: #333333;
  box-sizing: border-box;
}
.dialogContent .info select{
  background: url("../../../../assets/appdetail/way.manage/selectDown.png") no-repeat right 6px center;
  color: #666666;
  height:34px !important;
}
.infoBtn{
  padding-top: 26px;
  padding-left: 80px;
  padding-bottom: 28px;
}
.radio{
  display: inline-block;
  padding-left: 34px;
}
.radio img{
  margin-right: 10px;
}
.middle{
  display: inline-block;
  vertical-align: middle;
}
.delSys{
  text-align: center;
  padding:50px 0 42px;
}
select:focus{
  border:1px solid #23a880 !important;
}
select{
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 8px;
}
select option{
  padding-left: 8px;
}
input{
  outline: none;
  padding-left: 8px;
}
input:focus{
  border:1px solid #23a880 !important;
}





